#recibo {
  width: 226px;
  padding-top: 50px;
  margin: 0 auto; }

#comanda {
  margin: 0 auto;
  border: none;
  width: 100%;
  height: 100%; }

pre#prepedido {
  line-height: 1; }

#pedido-wrapper {
  width: 550px;
  margin: 0 auto; }

pre {
  line-height: 0.7; }

.recibo {
  font-family: 'merchant_copy_doublesizeRg';
  margin: 0;
  font-size: 6.5px; }

.center {
  width: 240px;
  text-align: center; }

.alto {
  font-size: 12px;
  font-weight: bold; }

.gordo {
  font-family: 'merchant_copy_wideregular';
  font-size: 13px;
  font-weight: bold; }

.obeso {
  font-family: 'merchant_copy_wideregular';
  font-size: 18px;
  font-weight: bold; }

/*# sourceMappingURL=recibo.css.map */
