@import url(../../css/font-awesome.min.css);
@import "https://fonts.googleapis.com/css?family=Abel:300,400,700";
header .limite span {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

ul,
ol, html, body {
  padding: 0; }

ul,
ol, html, body {
  margin: 0; }

::-webkit-input-placeholder {
  font-family: inherit;
  line-height: initial;
  color: rgba(0, 0, 0, 0.2); }

::-ms-input-placeholder {
  font-family: inherit;
  line-height: initial;
  color: rgba(0, 0, 0, 0.2); }

::-moz-placeholder {
  font-family: inherit;
  line-height: initial;
  color: rgba(0, 0, 0, 0.2); }

:-moz-placeholder {
  font-family: inherit;
  line-height: initial;
  color: rgba(0, 0, 0, 0.2); }

@font-face {
  font-family: 'merchant_copy_wideregular';
  src: url("http://localhost:8000/assets/fonts/merchant_copy_wide-webfont.eot");
  src: url("http://localhost:8000/assets/fonts/merchant_copy_wide-webfont.eot?#iefix") format("embedded-opentype"), url("http://localhost:8000/assets/fonts/merchant_copy_wide-webfont.woff") format("woff"), url("http://localhost:8000/assets/fonts/merchant_copy_wide-webfont.ttf") format("truetype"), url("http://localhost:8000/assets/fonts/merchant_copy_wide-webfont.svg#merchant_copy_wideregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'merchant_copy_doublesizeRg';
  src: url("http://localhost:8000/assets/fonts/merchant_copy_doublesize-webfont.eot");
  src: url("http://localhost:8000/assets/fonts/merchant_copy_doublesize-webfont.eot?#iefix") format("embedded-opentype"), url("http://localhost:8000/assets/fonts/merchant_copy_doublesize-webfont.woff") format("woff"), url("http://localhost:8000/assets/fonts/merchant_copy_doublesize-webfont.ttf") format("truetype"), url("http://localhost:8000/assets/fonts/merchant_copy_doublesize-webfont.svg#merchant_copy_doublesizeRg") format("svg");
  font-weight: normal;
  font-style: normal; }
.modal, .modal.fadeIn {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }

html, body {
  width: 100%; }

header .limite span {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently */ }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

*,
*:after,
*:before {
  margin: 0;
  padding: 0; }

*:focus {
  outline: 0; }

ul,
ol {
  display: block;
  list-style: none; }

a {
  text-decoration: none;
  color: #f1be69; }

html {
  line-height: 1;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent; }

html, body {
  max-width: 100%; }

body {
  font-family: "Abel", "Arial", sans-serif;
  font-size: 10px;
  font-weight: 300;
  background: #f9f9f9;
  letter-spacing: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #35210a;
  overflow-x: hidden; }
  body .limite {
    max-width: 1170px;
    height: inherit;
    margin: 0px auto; }

header {
  background: #35210a;
  width: 100%;
  font-size: 1.5em; }
  header .limite {
    width: 100%;
    display: table; }
    header .limite > * {
      display: table-cell;
      vertical-align: middle; }
    header .limite .logo {
      width: 1%;
      min-width: 50px; }
      header .limite .logo img {
        width: 50px;
        height: 50px;
        display: block;
        border: 1px solid rgba(255, 255, 255, 0.1);
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px; }
    header .limite nav {
      padding-left: 30px; }
      header .limite nav ul li {
        display: inline-block;
        position: relative;
        margin: 0 1px; }
        header .limite nav ul li b {
          position: absolute;
          top: 10px;
          right: 2px;
          background: #ff9800;
          color: #fff;
          font-size: 10px;
          text-align: center;
          height: 20px;
          width: 20px;
          line-height: 20px;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%; }
        header .limite nav ul li a {
          font-weight: bold;
          padding: 25px 12px;
          display: block;
          color: #fff;
          text-transform: uppercase; }
          header .limite nav ul li a i {
            font-size: 0.9em;
            margin-right: 4px; }
          header .limite nav ul li a:hover, header .limite nav ul li a.ativo {
            background: #f1be69; }
          header .limite nav ul li a.ativo + ol {
            display: block; }
          header .limite nav ul li a.ativo:after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -6px;
            width: 0;
            height: 0;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-top: 5px solid #f1be69; }
    header .limite span {
      color: #fff;
      text-align: right;
      position: relative; }
      header .limite span strong {
        height: inherit;
        display: inline-block;
        background: rgba(0, 0, 0, 0.25);
        padding: 13px 16px;
        cursor: pointer;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px; }
        header .limite span strong:hover {
          -moz-opacity: 0.8;
          opacity: 0.8; }
      header .limite span ul {
        display: none;
        padding: 10px 0;
        position: absolute;
        margin-top: -10px;
        top: 100%;
        right: 0;
        background: #fff;
        border: 1px solid #f1be69;
        text-align: left;
        z-index: 999;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px; }
        header .limite span ul li a {
          padding: 12px 25px 12px 15px;
          display: block; }
          header .limite span ul li a i {
            margin-right: 4px; }
          header .limite span ul li a:hover {
            background: rgba(0, 0, 0, 0.05); }
      header .limite span i {
        margin-left: 5px; }

input[type=text],
input[type=tel],
input[type=email],
input[type=date],
input[type=password] {
  font-family: "Abel", "Arial", sans-serif;
  font-size: 1.1rem;
  padding: 12px 15px;
  background: rgba(0, 0, 0, 0.05);
  border: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-weight: bold;
  width: 100%; }
  input[type=text]:disabled,
  input[type=tel]:disabled,
  input[type=email]:disabled,
  input[type=date]:disabled,
  input[type=password]:disabled {
    background: none; }
  input[type=text]:focus,
  input[type=tel]:focus,
  input[type=email]:focus,
  input[type=date]:focus,
  input[type=password]:focus {
    border-color: #35210a;
    background: rgba(0, 0, 0, 0.15); }
    input[type=text]:focus + i,
    input[type=tel]:focus + i,
    input[type=email]:focus + i,
    input[type=date]:focus + i,
    input[type=password]:focus + i {
      color: #35210a; }

textarea {
  font-family: "Abel", "Arial", sans-serif;
  font-size: 1.1rem;
  padding: 12px 15px;
  background: rgba(0, 0, 0, 0.05);
  border: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-weight: bold;
  width: 100%;
  resize: none; }

select {
  font-family: "Abel", "Arial", sans-serif;
  font-size: 1.1rem;
  height: 45px;
  padding: 12px 15px;
  background: rgba(0, 0, 0, 0.05);
  border: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-weight: bold;
  width: 100%; }

.display-block {
  display: block; }
.display-inline {
  display: inline; }
.display-inline-block {
  display: inline-block; }

.hide {
  display: none; }

.show {
  display: inline-block; }

.box .msgerro,
.box .msgsucesso {
  margin: 0 20px 30px 20px;
  text-align: left; }

.login .msgerro,
.login .msgsucesso {
  margin: 0 0 30px 0; }
  .login .msgerro li,
  .login .msgsucesso li {
    font-size: 1rem !important; }

.msgerro {
  display: block;
  padding: 14px 20px;
  margin: 0 0 20px 0;
  background: #67060a;
  color: #fff;
  font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: -0.5px;
  text-align: center; }
  .msgerro li {
    list-style: none;
    padding: 4px 0;
    display: block;
    margin: 0 !important; }
  .msgerro i {
    display: inline-block;
    margin-right: 4px; }

.msgsucesso {
  display: block;
  padding: 14px 20px;
  margin: 0 0 20px 0;
  background: #dff7dc;
  color: #06670a;
  font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: -0.5px;
  text-align: center; }
  .msgsucesso li {
    list-style: none;
    padding: 4px 0;
    display: block; }
  .msgsucesso i {
    display: inline-block;
    margin-right: 4px; }

input.erro {
  background: #ffe5e5 !important;
  border-color: #f3b0b0 !important; }

.ui-helper-hidden-accessible {
  display: none; }
.ui-state-active {
  background: rgba(0, 0, 0, 0.04); }
.ui-dialog-buttonpane {
  text-align: center;
  padding-bottom: 15px; }
.ui-widget-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  z-index: 100; }
.ui-autocomplete {
  background: #fff;
  padding: 6px 0;
  position: absolute !important;
  max-width: 100% !important;
  z-index: 9999;
  max-height: 220px;
  overflow: auto;
  border: 1px solid #ccc;
  -webkit-box-shadow: 0 2px 5px -2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 5px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 5px -2px rgba(0, 0, 0, 0.2); }
  .ui-autocomplete div {
    display: block;
    font-size: 1rem;
    padding: 14px 25px 14px 15px; }
    .ui-autocomplete div:hover {
      cursor: pointer;
      background: rgba(0, 0, 0, 0.04); }

.addprodutos {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  padding-right: 10px; }
  .addprodutos ul {
    margin-top: 10px;
    width: 100% !important;
    padding: 20px 0 10px 0;
    border: 1px solid #ccc; }
  .addprodutos table {
    width: 100%;
    border-spacing: 0; }
    .addprodutos table tr.prod-total {
      background: #f9f9f9; }
      .addprodutos table tr.prod-total td {
        font-size: 1.3rem;
        font-weight: 600;
        padding: 20px 10px;
        border-bottom: 1px solid #f1f1f1; }
        .addprodutos table tr.prod-total td strong {
          color: #237b14; }
    .addprodutos table tr td {
      font-size: 1rem;
      padding: 12px 10px;
      border-top: 1px solid #f1f1f1; }
      .addprodutos table tr td:last-child {
        text-align: right; }
  .addprodutos .item-quantity {
    white-space: nowrap; }
    .addprodutos .item-quantity span {
      display: inline-block !important;
      width: 20px;
      font-size: 14px !important;
      text-align: center; }
    .addprodutos .item-quantity [class*='bt-'] {
      background: #f1be69;
      color: #fff;
      display: inline-block;
      font-size: 18px;
      text-align: center;
      line-height: 20px;
      cursor: pointer;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      width: 20px;
      height: 20px; }

.modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  outline: 0;
  z-index: 1040;
  width: 100%;
  height: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  -moz-opacity: 0;
  opacity: 0; }
  .modal.fadeIn {
    visibility: visible;
    display: table;
    -moz-opacity: 1;
    opacity: 1; }
  .modal > * {
    vertical-align: middle;
    display: table-cell; }
  .modal .modal-content {
    min-width: 500px;
    background: #fff;
    position: relative;
    display: inline-block;
    padding: 20px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px; }
    .modal .modal-content .close {
      position: absolute;
      top: 5px;
      right: 5px;
      color: rgba(0, 0, 0, 0.25);
      font-size: 32px;
      background: none;
      border: none;
      line-height: 1.1;
      padding: 1px 10px 5px 10px; }
      .modal .modal-content .close:hover {
        color: black;
        cursor: pointer; }
    .modal .modal-content .modal-title {
      letter-spacing: -1px;
      font-weight: 300;
      font-size: 2.8em;
      padding: 10px 0; }
    .modal .modal-content .modal-body {
      font-size: 1.7em;
      padding: 15px 0;
      -moz-opacity: 0.8;
      opacity: 0.8; }
    .modal .modal-content .modal-footer {
      padding: 15px 0; }

.mostrarsenha {
  position: absolute;
  bottom: 12px;
  right: 35px;
  font-size: 1rem;
  text-transform: uppercase;
  font-family: "Abel", "Arial", sans-serif;
  color: #f1be69;
  background: none;
  border: none;
  cursor: pointer; }

.p-left-20 {
  padding-left: 20px; }

.p-top-20 {
  padding-top: 20px; }

.p-top-5 {
  padding-top: 5px; }

.m-top-50 {
  margin-top: 50px; }

.txt-right {
  text-align: right; }

.txt-center {
  text-align: center !important; }

.f-right {
  float: right; }

.f-left {
  float: left !important; }

.block {
  display: block; }

#imgpreview {
  width: 50%;
  max-width: 220px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.4); }
  #imgpreview img {
    display: block;
    max-width: 100%;
    position: absolute;
    left: 0;
    top: 50%; }

.carregar {
  display: inline-block;
  vertical-align: top !important;
  margin-left: 20px;
  max-width: 45%; }
  .carregar span {
    font-size: 0.9rem !important;
    margin-top: 10px; }

.entregue {
  color: #4caf50;
  border-color: #4caf50; }

.aguardando {
  color: #ff9800;
  border-color: #ff9800;
  font-weight: bold; }

.cancelado {
  color: #984a44;
  border-color: #984a44; }

.message {
  padding: 14px 20px;
  margin: 0 10px;
  border-width: 1px;
  border-style: dashed;
  font-size: 1rem;
  color: #111; }
  .message.alert {
    border-color: #ff9800;
    background: #fff2df;
    color: #ff9800; }

.dadosdorecibo {
  font-size: 8px; }
  .dadosdorecibo #recibo {
    padding: 0 20px 10px 20px;
    background: rgba(224, 183, 32, 0.1);
    margin: 0px auto;
    display: inline-block; }
  .dadosdorecibo #comanda {
    margin: 0 auto;
    border: none;
    width: 100%;
    height: 100%; }
  .dadosdorecibo pre#prepedido {
    line-height: 1; }
  .dadosdorecibo #pedido-wrapper {
    width: 550px;
    margin: 0 auto; }
  .dadosdorecibo pre {
    width: 230px;
    line-height: 0.5;
    padding-top: 40px; }
  .dadosdorecibo .recibo {
    font-family: monospace;
    margin: 0;
    font-size: 8px; }
  .dadosdorecibo .center {
    width: 240px;
    text-align: center; }
  .dadosdorecibo .alto {
    font-size: 13px;
    font-weight: bold; }
  .dadosdorecibo .gordo {
    font-family: monospace;
    font-size: 14px;
    font-weight: bold; }
  .dadosdorecibo .obeso {
    font-family: monospace;
    font-size: 18px;
    font-weight: bold; }

.botao, .modal .modal-content .btn {
  background: #f1be69;
  font-family: "Abel", "Arial", sans-serif;
  font-weight: bold;
  color: #fff !important;
  padding: 16px 20px;
  display: inline-block;
  border: none;
  font-size: 1rem !important;
  line-height: 1rem;
  text-transform: uppercase;
  position: relative;
  letter-spacing: -0.5px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  margin-right: 10px; }
  .botao input[type=file], .modal .modal-content .btn input[type=file] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -moz-opacity: 0;
    opacity: 0; }
  .botao.save, .modal .modal-content .save.btn {
    background: #4caf50; }
  .botao.cancel, .modal .modal-content .cancel.btn {
    background: #75827f; }
  .botao.delete, .modal .modal-content .delete.btn {
    background: #924a51;
    margin-top: -88px; }
  .botao.menor, .modal .modal-content .menor.btn {
    padding: 10px;
    font-size: 0.9rem !important; }
  .botao.minimo, .modal .modal-content .minimo.btn {
    padding: 8px 10px;
    font-size: 0.8rem !important; }
  .botao.imprimir, .modal .modal-content .imprimir.btn {
    padding: 10px 20px;
    float: right;
    margin: 0 -10px 10px 0 !important; }
  .botao.imprimir-tudo, .modal .modal-content .imprimir-tudo.btn {
    float: none;
    width: calc(50% - 10px);
    margin: 0 5px 0 5px;
    display: inline-block;
    padding: 16px 20px; }
  .botao i, .modal .modal-content .btn i {
    margin-right: 5px; }
  .botao:hover, .modal .modal-content .btn:hover {
    background: #35210a;
    cursor: pointer; }

.subheader {
  background: #fff;
  width: 100%;
  display: table;
  height: 60px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
  .subheader .botao, .subheader .modal .modal-content .btn, .modal .modal-content .subheader .btn {
    margin-left: -90px; }
  .subheader ol {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: inherit;
    padding-left: 90px; }
    .subheader ol li {
      display: inline-block;
      margin-right: 20px;
      font-size: 1.45em;
      text-transform: uppercase; }
      .subheader ol li a {
        color: rgba(0, 0, 0, 0.4);
        font-weight: bold; }
        .subheader ol li a i {
          font-size: 0.9em;
          margin-right: 3px;
          display: inline-block; }
        .subheader ol li a:hover, .subheader ol li a.ativo {
          color: #35210a; }

section {
  margin-top: 30px; }
  section h2 {
    letter-spacing: -1px;
    font-weight: 300;
    font-size: 2.4em;
    padding-left: 4px;
    margin: 30px 0;
    border-left: 1px solid #f1be69;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px; }
    section h2 form {
      display: inline-block; }
    section h2 > * {
      vertical-align: middle; }
    section h2 .botao, section h2 .modal .modal-content .btn, .modal .modal-content section h2 .btn {
      float: right; }
    section h2 .styled {
      display: inline-block;
      width: 36px;
      height: 36px;
      line-height: 34px;
      font-size: 14px;
      margin-right: 5px;
      border: 1px solid #f1be69;
      color: #f1be69;
      vertical-align: middle;
      text-align: center;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px; }
    section h2 form[name=interval_form] {
      float: right; }
    section h2 .filter {
      letter-spacing: 0px;
      float: right;
      text-align: left;
      font-size: 0.7rem;
      margin-right: 20px;
      margin-left: 30px; }
      section h2 .filter select {
        -webkit-appearance: none;
        -moz-appearance: none;
        apple-appearance: none;
        khtml-appearance: none;
        font-family: "Abel", "Arial", sans-serif;
        font-size: 1.1rem;
        padding: 0;
        height: auto;
        border: none;
        font-weight: bold;
        display: block;
        background: none;
        cursor: pointer; }
    section h2 .pesquisa {
      float: right;
      text-align: right;
      font-size: 0.7rem;
      padding: 0;
      position: relative; }
      section h2 .pesquisa input {
        font-family: "Abel", "Arial", sans-serif;
        font-size: 1rem;
        padding: 8px 30px 8px 15px;
        background: rgba(0, 0, 0, 0.05);
        border: none;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        font-weight: bold; }
        section h2 .pesquisa input:focus {
          border-color: #35210a; }
          section h2 .pesquisa input:focus + i {
            color: #35210a; }
      section h2 .pesquisa i {
        color: rgba(0, 0, 0, 0.2);
        font-size: 1rem;
        position: absolute;
        top: 50%;
        right: 10px;
        margin-top: -0.6em; }
  section.tabela {
    margin-top: 30px; }
    section.tabela table {
      border-spacing: 0;
      background: #fff;
      margin-top: 20px;
      width: 100%;
      border: 1px solid rgba(0, 0, 0, 0.1);
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px; }
      section.tabela table.clicavel tbody tr:hover {
        cursor: pointer;
        background: #f5f5f5; }
      section.tabela table tr.divider {
        background: #f5f5f5; }
      section.tabela table tr td, section.tabela table tr th {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        padding: 17px 30px;
        font-size: 1.5em;
        text-align: left; }
        section.tabela table tr td:last-child, section.tabela table tr th:last-child {
          text-align: right; }
        section.tabela table tr td small, section.tabela table tr th small {
          border-width: 1px;
          border-style: solid;
          padding: 4px 6px;
          -webkit-border-radius: 2px;
          -moz-border-radius: 2px;
          border-radius: 2px; }
      section.tabela table tr th {
        font-size: 1.2em;
        padding: 20px 30px;
        text-transform: uppercase;
        color: rgba(0, 0, 0, 0.5); }
      section.tabela table tr:last-child td {
        border: none; }
  section.form .box {
    background: #fff;
    margin-top: 20px;
    padding: 35px 15px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px; }
    section.form .box.meusdados ul li {
      width: 50%;
      display: inline-block;
      padding: 0 20px; }
      section.form .box.meusdados ul li.numero {
        width: 20%; }
      section.form .box.meusdados ul li.complemento {
        width: 30%; }
      section.form .box.meusdados ul li.adicional input {
        display: inline-block;
        width: 20%; }
    section.form .box ul {
      width: 100%;
      font-size: 0; }
      section.form .box ul li {
        margin-bottom: 20px;
        font-size: 0.8rem;
        position: relative; }
        section.form .box ul li .botao, section.form .box ul li .modal .modal-content .btn, .modal .modal-content section.form .box ul li .btn {
          margin-top: 20px; }
        section.form .box ul li label {
          display: block;
          font-weight: bold;
          text-transform: uppercase;
          margin: 0 0 5px 10px;
          -moz-opacity: 0.4;
          opacity: 0.4; }
  section.login {
    max-width: 400px;
    margin: 40px auto; }
    section.login span {
      font-size: 0.9rem;
      display: block;
      text-align: right;
      margin-top: 10px; }
    section.login .box {
      padding: 30px 25px; }
      section.login .box .logo {
        text-align: center;
        padding: 18px 10px;
        margin-bottom: 30px;
        border: 1px solid #35210a;
        -moz-opacity: 0.5;
        opacity: 0.5; }
        section.login .box .logo > * {
          display: inline-block;
          vertical-align: middle; }
        section.login .box .logo i {
          width: 50px;
          height: 50px; }
          section.login .box .logo i img {
            max-width: 100%; }
        section.login .box .logo h1 {
          text-align: left;
          margin-left: 10px; }
          section.login .box .logo h1 strong {
            display: block;
            margin-top: 5px; }
    section.login .botao, section.login .modal .modal-content .btn, .modal .modal-content section.login .btn {
      width: 100%;
      margin: 10px 0;
      text-align: center; }
  section.detalhes .box.meusdados {
    font-size: 0; }
    section.detalhes .box.meusdados .message {
      margin-bottom: 25px; }
    section.detalhes .box.meusdados .carrinho {
      width: 50%;
      display: inline-block;
      vertical-align: top;
      padding-right: 10px; }
      section.detalhes .box.meusdados .carrinho ul {
        width: 100%;
        border: 1px solid #ccc;
        padding: 10px 0;
        margin-bottom: 10px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px; }
      section.detalhes .box.meusdados .carrinho h3 {
        display: inline-block;
        font-size: 1.3rem;
        margin: 5px 0 15px 0; }
      section.detalhes .box.meusdados .carrinho li {
        margin: 0; }
        section.detalhes .box.meusdados .carrinho li.total {
          margin-bottom: 0;
          margin-top: 10px; }
          section.detalhes .box.meusdados .carrinho li.total span {
            font-size: 1.1rem;
            font-weight: bold;
            margin-bottom: 0; }
      section.detalhes .box.meusdados .carrinho label {
        display: inline-block;
        -moz-opacity: 1;
        opacity: 1;
        font-size: 1rem;
        color: #111; }
        section.detalhes .box.meusdados .carrinho label b {
          font-size: 0.8rem;
          margin-right: 4px;
          display: inline-block;
          background: rgba(0, 0, 0, 0.7);
          width: 30px;
          color: #fff;
          padding: 4px 0;
          text-align: center; }
      section.detalhes .box.meusdados .carrinho span {
        font-size: 1rem;
        float: right;
        -moz-opacity: 0.8;
        opacity: 0.8; }
    section.detalhes .box.meusdados ul {
      width: 50%;
      display: inline-block;
      vertical-align: top; }
      section.detalhes .box.meusdados ul li {
        width: 100%; }
        section.detalhes .box.meusdados ul li > * {
          vertical-align: bottom; }
        section.detalhes .box.meusdados ul li label {
          margin-left: 0; }
        section.detalhes .box.meusdados ul li span {
          font-size: 1.2rem;
          margin-bottom: 5px;
          display: block; }
          section.detalhes .box.meusdados ul li span.status {
            border-width: 1px;
            border-style: solid;
            padding: 13.5px 25px;
            display: inline-block;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            border-radius: 2px; }
          section.detalhes .box.meusdados ul li span strong {
            font-size: 1.1em; }

.bolder {
  font-size: 1.2rem;
  margin-bottom: 5px;
  display: block; }

.enderecos h1 {
  margin: 20px 0 0 20px;
  font-size: 1.2rem; }
.enderecos ul {
  border: 1px solid #ccc;
  padding-top: 20px;
  padding-bottom: 10px;
  margin: 10px 20px;
  width: auto !important;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }
  .enderecos ul li {
    margin-bottom: 10px !important; }
  .enderecos ul .botao, .enderecos ul .modal .modal-content .btn, .modal .modal-content .enderecos ul .btn {
    margin-top: 10px !important;
    margin-right: 0 !important;
    padding: 8px 14px !important; }

.pager {
  margin: 20px 0;
  text-align: right; }
  .pager ul {
    display: inline-block;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    overflow: hidden;
    font-size: 0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px; }
    .pager ul li {
      display: inline-block;
      font-size: 0.9rem; }
      .pager ul li a, .pager ul li span {
        display: block;
        padding: 14px 15px;
        color: rgba(0, 0, 0, 0.5); }
      .pager ul li a:hover {
        background: #f0f0f0;
        cursor: pointer; }
      .pager ul li.active span {
        color: #fff;
        background: #f1be69; }

footer {
  text-align: center;
  color: rgba(0, 0, 0, 0.4);
  font-size: 1.4em;
  margin: 40px auto 20px auto; }

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
    max-width: 240px !important; }

  body {
    margin: 0;
    padding: 0;
    line-height: 1.4em;
    font-family: monospace;
    font-size: 14px !important; }

  .userdata {
    padding: 10px !important; }

  .address {
    padding-top: 10px; }

  #recibo pre {
    text-align: center !important; }

  #obs {
    padding: 20px 0 !important; }

  .bolder {
    font-weight: bold !important; }

  #address {
    white-space: normal !important; }

  button {
    display: none !important; }

  .botao, .modal .modal-content .btn {
    display: none !important; }

  #command {
    width: 240px;
    display: inline-block; }
    #command .values {
      display: none !important; }
    #command h3 {
      font-weight: normal; }
    #command label {
      font-weight: bold; }
    #command ul {
      padding: 10px 0;
      border-bottom: 1px dotted #000; } }

/*# sourceMappingURL=style.css.map */
