@import '../../css/mixins';
@import '../../css/font-awesome.min.css';
@import 'https://fonts.googleapis.com/css?family=Abel:300,400,700';

@font-face {
  font-family: 'merchant_copy_wideregular';
  src: url('http://localhost:8000/assets/fonts/merchant_copy_wide-webfont.eot');
  src: url('http://localhost:8000/assets/fonts/merchant_copy_wide-webfont.eot?#iefix') format('embedded-opentype'),
       url('http://localhost:8000/assets/fonts/merchant_copy_wide-webfont.woff') format('woff'),
       url('http://localhost:8000/assets/fonts/merchant_copy_wide-webfont.ttf') format('truetype'),
       url('http://localhost:8000/assets/fonts/merchant_copy_wide-webfont.svg#merchant_copy_wideregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'merchant_copy_doublesizeRg';
  src: url('http://localhost:8000/assets/fonts/merchant_copy_doublesize-webfont.eot');
  src: url('http://localhost:8000/assets/fonts/merchant_copy_doublesize-webfont.eot?#iefix') format('embedded-opentype'),
       url('http://localhost:8000/assets/fonts/merchant_copy_doublesize-webfont.woff') format('woff'),
       url('http://localhost:8000/assets/fonts/merchant_copy_doublesize-webfont.ttf') format('truetype'),
       url('http://localhost:8000/assets/fonts/merchant_copy_doublesize-webfont.svg#merchant_copy_doublesizeRg') format('svg');
  font-weight: normal;
  font-style: normal;
}

// VARIÁVEIS DO LAYOUT
$font-default: 'Abel', 'Arial', sans-serif;
$color-accent: #f1be69;
$color-base: #35210a;
$default-transition: 0.3s;

%transition-default {
	@include transition(all,$default-transition,ease,0s);
}
%full-height {
	height:100%;
}
%full-width {
	width:100%;
}
%full-sizes {
	width: 100%;
	height: 100%;
}
%noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently */
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

// CLASSES GLOBAIS
*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    @extend %border-box;
}
*:focus {
  outline: 0;
}

ul,
ol {
  display: block;
  list-style: none;
  @extend %padding-0;
  @extend %margin-0;
}

a {
  text-decoration: none;
  color: $color-accent;
}

html {
  line-height: 1;
  -ms-touch-action: manipulation;
  touch-action: manipulation; 
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html, body {
  max-width: 100%;
  @extend %full-width;
  @extend %padding-0;
  @extend %margin-0;
}

body {
  font: {
    family: $font-default;
    size: 10px;
    weight: 300;
  }
  background: #f9f9f9;
  letter-spacing: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $color-base;
  overflow-x: hidden;

  .limite {
    max-width: 1170px;
    height: inherit;
    margin: 0px auto;
  }
}

header {
  background: $color-base;
  width: 100%;
  font-size: 1.5em;

  .limite {
    width: 100%;
    display: table;

    > * {
      display: table-cell;
      vertical-align: middle;
    }

    .logo {
      width: 1%;
      min-width: 50px;

      img {
        width: 50px;
        height: 50px;
        display: block;
        border: 1px solid rgba(255,255,255,0.1);
        @include border-radius(2px);
      }
    }

    nav {
      padding-left: 30px;
      ul {
        li {
          display: inline-block;
          position: relative;
          margin: 0 1px;

          b {
            position: absolute;
            top:10px;
            right:2px;
            background: #ff9800;
            color: #fff;
            font-size: 10px;
            text-align: center;
            height: 20px;
            width: 20px;
            line-height: 20px;
            @include border-radius(50%);
          }

          a {
            font: {
              weight: bold;
            }
            padding: 25px 12px;
            display: block;
            color: #fff;
            text-transform: uppercase;

            i {
              font-size: 0.9em;
              margin-right: 4px;
            }

            &:hover,
            &.ativo {
              background: $color-accent;
            }
            &.ativo {
              + ol {
                display: block;
              }
              &:after {
                content: "";
                position:absolute;
                top: 100%;
                left: 50%;
                margin-left: -6px;
                width: 0; 
                height: 0; 
                border-left: 6px solid transparent;
                border-right: 6px solid transparent;
                border-top: 5px solid $color-accent;
              }
            }
          }

        }
      }
    }

    span {
      color: #fff;
      text-align: right;
      position: relative;
      @extend %noselect;

      strong {
        height: inherit;
        display: inline-block;
        background: rgba(0,0,0,0.25);
        padding: 13px 16px;
        cursor: pointer;
        @include border-radius(2px);

        &:hover {
          @include opacity(0.8);
        }
      }

      ul {
        display: none;
        padding: 10px 0;
        position: absolute;
        margin-top: -10px;
        top: 100%;
        right: 0;
        background: #fff;
        border: 1px solid $color-accent;
        text-align: left;
        z-index: 999;
        @include border-radius(2px);


        li {
          a {
            padding: 12px 25px 12px 15px;
            display: block;

            i {
              margin-right: 4px;
            }

            &:hover {
              background: rgba(0,0,0,0.05);
            }
          }
        }
      }

      i {
        margin-left: 5px;
      }
    }
  }

}

input[type=text],
input[type=tel],
input[type=email],
input[type=date],
input[type=password] {
  font-family: $font-default;
  font-size: 1.1rem;
  padding: 12px 15px;
  background: rgba(0,0,0,0.05);
  border: none;
  @include border-radius(2px);
  font-weight: bold;
  width: 100%;

  &:disabled {
    background: none;
  }

  &:focus {
    border-color: $color-base;
    background: rgba(0,0,0,0.15);
    + i {
      color: $color-base;
    }
  }
}
textarea {
  font-family: $font-default;
  font-size: 1.1rem;
  padding: 12px 15px;
  background: rgba(0,0,0,0.05);
  border: none;
  @include border-radius(2px);
  font-weight: bold;
  width: 100%;
  resize: none;
}
select {
  font-family: $font-default;
  font-size: 1.1rem;
  height: 45px;
  padding: 12px 15px;
  background: rgba(0,0,0,0.05);
  border: none;
  @include border-radius(2px);
  font-weight: bold;
  width: 100%;
}
.display {
  &-block {
    display: block;
  }
  &-inline {
    display: inline;
  }
  &-inline-block {
    display: inline-block;
  }
}

.hide {
  display: none;
}
.show {
  display: inline-block;
}

.box {
  .msgerro,
  .msgsucesso {
    margin: 0 20px 30px 20px;
    text-align: left;
  }
}
.login {
  .msgerro,
  .msgsucesso {
    margin: 0 0 30px 0;

    li {
      font-size: 1rem !important;
    }
  }
}

.msgerro {
  display: block;
  padding: 14px 20px;
  margin: 0 0 20px 0;
  background: #67060a;
  color: #fff;
  font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: -0.5px;
  text-align: center;

  li {
    list-style: none;
    padding: 4px 0;
    display: block;
    margin: 0 !important;
  }

  i {
    display: inline-block;
    margin-right: 4px;
  }
}

.msgsucesso {
  display: block;
  padding: 14px 20px;
  margin: 0 0 20px 0;
  background: #dff7dc;
  color: #06670a;
  font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: -0.5px;
  text-align: center;

  li {
    list-style: none;
    padding: 4px 0;
    display: block;
  }

  i {
    display: inline-block;
    margin-right: 4px;
  }
}

input.erro {
    background: #ffe5e5 !important;
    border-color: #f3b0b0 !important;
}

.ui {
  &-helper-hidden-accessible {
    display: none;
  }
  &-state-active {
    background: rgba(0, 0, 0, 0.04);
  }
  &-dialog-buttonpane {
    text-align: center;
    padding-bottom: 15px;
  }
  &-widget-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.75);
    z-index: 100;
  }
  &-autocomplete {
    background: #fff;
    padding: 6px 0;
    position: absolute !important;  
    max-width: 100% !important;
    z-index: 9999;
    max-height: 220px;
    overflow: auto;
    border: 1px solid #ccc;
    @include box-shadow(0 2px 5px -2px rgba(0,0,0,.2));

    div {
      display: block;
      font-size: 1rem;
      padding: 14px 25px 14px 15px;

      &:hover {
        cursor: pointer;
        background: rgba(0,0,0,.04);
      }
    }
  }
}

.addprodutos {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  padding-right: 10px;

  ul {
    margin-top: 10px;
    width: 100% !important;
    padding: 20px 0 10px 0;
    border: 1px solid #ccc;
  }
  table {
    width: 100%;
    border-spacing: 0;

    tr {

      &.prod-total {
        background: #f9f9f9;

        td {
          font-size: 1.3rem;
          font-weight: 600;
          padding: 20px 10px;
          border-bottom: 1px solid #f1f1f1;

          strong {
            color: #237b14;
          }
        }
      }

      td {
        font-size: 1rem;
        padding: 12px 10px;
        border-top: 1px solid #f1f1f1;

        &:last-child {
          text-align: right;
        }
      }
    }
  }
  .item-quantity {
    white-space: nowrap;

    span {
      display: inline-block !important;
      width: 20px;
      font-size: 14px !important;
      text-align: center;
    }
    [class*='bt-'] {
      background: $color-accent;
      color: #fff;
      display: inline-block;
      font-size: 18px;
      text-align: center;
      line-height: 20px;
      cursor: pointer;
      @include border-radius(2px);
      width: 20px;
      height: 20px;
    }
  }
}

.modal {
    display: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    outline: 0;
    z-index: 1040;
    width: 100%;
    height: 100%;
    text-align: center;
    background: rgba(0,0,0,0.5);
    visibility: hidden;
    @include opacity(0);
    @extend %transition-default;

    &.fadeIn {
      visibility: visible;
      display: table;
      @include opacity(1);
      @extend %transition-default;
    }

    > * {
      vertical-align: middle;
      display: table-cell;
    }
    .modal-content {
      min-width: 500px;
      background: #fff;
      position: relative;
      display: inline-block;
      padding: 20px;
      @include border-radius(2px);

      .close {
        position: absolute;
        top: 5px;
        right: 5px;
        color: rgba(0,0,0,0.25);
        font-size: 32px;
        background: none;
        border: none;
        line-height: 1.1;
        padding: 1px 10px 5px 10px;

        &:hover {
          color: rgba(0,0,0,1);
          cursor: pointer;
        }
      }

      .modal-title {
        letter-spacing: -1px;
        font-weight: 300;
        font-size: 2.8em;
        padding: 10px 0;
      }
      .modal-body {
        font-size: 1.7em;
        padding: 15px 0;
        @include opacity(0.8);
      }
      .modal-footer {
        padding: 15px 0;
      }

      .btn {
        @extend .botao;
      }
    }
}


.mostrarsenha {
  position: absolute;
  bottom: 12px;
  right: 35px;
  font-size: 1rem;
  text-transform: uppercase;
  font-family: $font-default;
  color: $color-accent;
  background: none;
  border: none;
  cursor: pointer;
}
.p-left-20 {
  padding-left: 20px;
}
.p-top-20 {
  padding-top: 20px;
}
.p-top-5 {
  padding-top: 5px;
}
.m-top-50 {
  margin-top: 50px;
}
.txt-right {
  text-align: right;
}
.txt-center {
  text-align: center !important;
}
.f-right {
  float: right;
}
.f-left {
  float: left !important;
}
.block {
  display: block;
}

#imgpreview {
  width: 50%;
  max-width: 220px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  overflow: hidden;
  border: 1px solid rgba(0,0,0,0.4);

  img {
    display: block;
    max-width: 100%;
    position: absolute;
    left: 0;
    top: 50%;
  }
}
.carregar {
  display: inline-block;
  vertical-align: top !important;
  margin-left: 20px;
  max-width: 45%;

  span {
    font-size: 0.9rem !important;
    margin-top: 10px;
  }
}

.entregue {
  color: #4caf50;
  border-color: #4caf50;
}
.aguardando {
  color: #ff9800;
  border-color: #ff9800;
  font-weight: bold;
}
.cancelado {
  color: #984a44;
  border-color: #984a44;
}

.message {
  padding: 14px 20px;
  margin: 0 10px;
  border-width: 1px;
  border-style: dashed;
  font-size: 1rem;
  color: #111;

  &.alert {
    border-color: #ff9800;
    background: #fff2df;
    color: #ff9800
  }
}

.dadosdorecibo {
  font-size: 8px;

  #recibo {
    padding: 0 20px 10px 20px;
    background: rgba(224, 183, 32, 0.1);
    margin: 0px auto;
    display: inline-block;
  }
  #comanda {
    margin: 0 auto;
    border: none;
    width: 100%;
    height: 100%;
  }
  pre#prepedido{
   line-height: 1;
  }
  #pedido-wrapper {
    width:550px;
    margin:0 auto;
  }
  pre {
      width:230px;
      line-height: 0.5;
      padding-top: 40px;
  }
  .recibo {
    font-family: monospace;
    margin:0;
    font-size: 8px;
  }
  .center {
      width:240px;
      text-align: center;
  }
  .alto {
      font-size: 13px;
      font-weight: bold;
  }
  .gordo {
      font-family: monospace;
      font-size: 14px;
      font-weight: bold;
  }
  .obeso {
      font-family: monospace;
      font-size: 18px;
      font-weight: bold;
  }
}

.botao {
  background: $color-accent;
  font-family: $font-default;
  font-weight: bold;
  color: #fff !important;
  padding: 16px 20px;
  display: inline-block;
  border: none;
  font-size: 1rem !important;
  line-height: 1rem;
  text-transform: uppercase;
  position: relative;
  letter-spacing: -0.5px;
  @include border-radius(2px);
  margin-right: 10px;

  input[type=file] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include opacity(0);
  }

  &.save {
    background: #4caf50;
  }

  &.cancel {
    background: #75827f;
  }
  &.delete {
    background: #924a51;
    margin-top: -88px;
  }

  &.menor {
    padding: 10px;
    font-size: 0.9rem !important;
  }
  &.minimo {
    padding: 8px 10px;
    font-size: 0.8rem !important; 
  }
  &.imprimir {
    padding: 10px 20px;
    float: right;
    margin: 0 -10px 10px 0 !important;
  }
  &.imprimir-tudo {
    float: none;
    width: calc(50% - 10px);
    margin: 0 5px 0 5px;
    display: inline-block;
    padding: 16px 20px;
  }

  i {
    margin-right: 5px;
  }

  &:hover {
    background: $color-base;
    cursor: pointer;
  }
}

.subheader {
  background: #fff;
  width: 100%;
  display: table;
  height: 60px;
  border-bottom: 1px solid rgba(0,0,0,0.1);

  .botao {
    margin-left: -90px;
  }

  ol {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: inherit;
    padding-left: 90px;

    li {
      display: inline-block;
      margin-right: 20px;
      font-size: 1.45em;
      text-transform: uppercase;
      a {
        color: rgba(0,0,0,0.4);
        font-weight: bold;

        i {
          font-size: 0.9em;
          margin-right: 3px;
          display: inline-block;
        }

        &:hover,
        &.ativo {
          color: $color-base;
        }
      }
    }
  }
}

section {
  margin-top: 30px;

  h2 {
    letter-spacing: -1px;
    font-weight: 300;
    font-size: 2.4em;
    padding-left: 4px;
    margin: 30px 0;
    border-left: 1px solid $color-accent; 
    @include border-radius(2px);

    form {
      display: inline-block;
    }

    > * {
      vertical-align: middle;
    }

    .botao {
      float: right;
    }

    .styled {
      display: inline-block;
      width: 36px;
      height: 36px;
      line-height: 34px;
      font-size: 14px;
      margin-right: 5px;
      border: 1px solid $color-accent;
      color: $color-accent;
      vertical-align: middle;
      text-align: center;
      @include border-radius(2px);
    }

    form[name=interval_form] {
      float: right;
    }

    .filter {
      letter-spacing: 0px;
      float: right;
      text-align: left;
      font-size: 0.7rem;
      margin-right: 20px;
      margin-left: 30px;

      select {
        -webkit-appearance: none;
        -moz-appearance: none;
        apple-appearance: none;
        khtml-appearance: none;
        font-family: $font-default;
        font-size: 1.1rem;
        padding: 0;
        height: auto;
        border: none;
        font-weight: bold;
        display: block;
        background: none;
        cursor: pointer;
      }
    }
    .pesquisa {
      float: right;
      text-align: right;
      font-size: 0.7rem;
      padding: 0;
      position: relative;

      input {
        font-family: $font-default;
        font-size: 1rem;
        padding: 8px 30px 8px 15px;
        background: rgba(0,0,0,0.05);
        border: none;
        @include border-radius(2px);
        font-weight: bold;

        &:focus {
          border-color: $color-base;
          + i {
            color: $color-base;
          }
        }
      }

      i {
        color: rgba(0,0,0,0.2);
        font-size: 1rem;
        position: absolute;
        top: 50%;
        right: 10px;
        margin-top: -0.6em;
      }
    }
  }

  &.tabela {
    margin-top: 30px;

    table {
      border-spacing: 0;
      background: #fff;
      margin-top: 20px;
      width: 100%;
      border: 1px solid rgba(0,0,0,0.1);
      @include border-radius(2px);

      &.clicavel {
        tbody {
          tr { 
            &:hover {
              cursor: pointer;
              background: #f5f5f5;
            }
          }
        }
      }

      tr {

        &.divider {
          background: #f5f5f5;
        }


        td, th {
          border-bottom: 1px solid rgba(0,0,0,0.1);
          padding: 17px 30px;
          font-size: 1.5em;
          text-align: left;

          &:last-child {
            text-align: right;
          }

          small {
            border-width: 1px;
            border-style: solid;
            padding: 4px 6px;
            @include border-radius(2px);
          }
        }
        th {
          font-size:1.2em;
          padding: 20px 30px;
          text-transform: uppercase;
          color: rgba(0,0,0,0.5);
        }
        &:last-child {
          td {
            border:none;
          }
        }
      }
    }
  }
  &.form {
    .box {
      background: #fff;
      margin-top: 20px;
      padding: 35px 15px;
      border: 1px solid rgba(0,0,0,0.1);
      @include border-radius(2px);

      &.meusdados {
        ul {
          li {
            width: 50%;
            display: inline-block;
            padding: 0 20px;
            
            &.numero {
              width: 20%;
            }
            &.complemento {
              width: 30%;
            }

            &.adicional {
              input {
                display: inline-block;
                width: 20%;
              }
            }
          }
        }
      }

      ul {
        width: 100%;
        font-size: 0;

        li {
          margin-bottom: 20px;
          font-size: 0.8rem;
          position: relative;

          .botao {
            margin-top: 20px;
          }

          label {
            display: block;
            font-weight: bold;
            text-transform: uppercase;
            margin: 0 0 5px 10px;
            @include opacity(0.4);
          }
        }
      }
    }
  }
  &.login {
    max-width: 400px;
    margin: 40px auto;

    span {
      font-size: 0.9rem;
      display: block;
      text-align: right;
      margin-top: 10px;
    }

    .box {
      padding: 30px 25px;

      .logo {
        text-align: center;
        padding: 18px 10px;
        margin-bottom: 30px;
        border: 1px solid $color-base;
        @include opacity(0.5);

        > * {
          display: inline-block;
          vertical-align: middle;
        }

        i {
          width: 50px;
          height: 50px;

          img {
            max-width: 100%;
          }
        }
        h1 {
          text-align: left;
          margin-left: 10px;

          strong {
            display: block;
            margin-top: 5px;
          }
        }
      }
    }

    .botao {
      width: 100%;
      margin: 10px 0;
      text-align: center;
    }
  }
  &.detalhes {
    .box.meusdados {
      font-size: 0;
      
      .message {
        margin-bottom: 25px;
      }

      .carrinho {
        width: 50%;
        display: inline-block;
        vertical-align: top;
        padding-right: 10px;

        ul {
          width: 100%;
          border: 1px solid #ccc;
          padding: 10px 0;
          margin-bottom: 10px;
          @include border-radius(3px);
        }

        h3 {
          display: inline-block;
          font-size: 1.3rem;
          margin: 5px 0 15px 0;
        }

        li {
          margin: 0;

          &.total {
            margin-bottom: 0;
            margin-top: 10px;

            span {
              font-size: 1.1rem;
              font-weight: bold;
              margin-bottom: 0;
            }
          }
        }

        label {
          display: inline-block;
          @include opacity(1);
          font-size: 1rem;
          color: #111;

          b {
            font-size: 0.8rem;
            margin-right: 4px;
            display: inline-block;
            background: rgba(0,0,0,0.7);
            width: 30px;
            color: #fff;
            padding: 4px 0;
            text-align: center;
          }
        }
        span {
          font-size: 1rem;
          float: right;
          @include opacity(0.8);
        }
      }

      ul {
        width: 50%;
        display: inline-block;
        vertical-align: top;

        li {
          width: 100%;
          
          > * {
            vertical-align: bottom;
          }

          label {
            margin-left: 0;
          }
          span {
            font-size: 1.2rem;
            margin-bottom: 5px;
            display: block;

            &.status {
              border-width: 1px;
              border-style: solid;
              padding: 13.5px 25px;
              display: inline-block;
              @include border-radius(2px);
            }

            strong {
              font-size: 1.1em;
            }
          }
        }
      }
    }
  }

}

.bolder {
  font-size: 1.2rem;
  margin-bottom: 5px;
  display: block;
}

.enderecos {
  h1 {
    margin: 20px 0 0 20px;
    font-size: 1.2rem;
  }
  ul {
    border: 1px solid #ccc;
    padding-top: 20px;
    padding-bottom: 10px;
    margin: 10px 20px;
    width: auto !important;
    @include border-radius(3px);

    li {
      margin-bottom: 10px !important;
    }

    .botao {
      margin-top: 10px !important;
      margin-right: 0 !important;
      padding: 8px 14px !important;
    }
  }
}

.pager {
  margin: 20px 0;
  text-align: right;

  ul {
    display: inline-block;
    background: #fff;
    border: 1px solid rgba(0,0,0,0.1);
    overflow: hidden;
    font-size: 0;
    @include border-radius(2px);

    li {
      display: inline-block;
      font-size: 0.9rem;

      a,span {
        display: block;
        padding: 14px 15px;
        color: rgba(0,0,0,0.5);
      }

      a {
        &:hover {
          background: #f0f0f0;
          cursor: pointer;
        }
      }

      &.active {
        span {
          color: #fff;
          background: $color-accent;
        }
      }
    }
  }
}

footer {
  text-align: center;
  color: rgba(0,0,0,0.4);
  font-size: 1.4em;
  margin: 40px auto 20px auto;
}


@media print {

  * {
    background:transparent !important;
    color:#000 !important;
    text-shadow:none !important;
    filter:none !important;
    -ms-filter:none !important;
    max-width: 240px !important;
  }
   
  body {
    margin:0;
    padding:0;
    line-height: 1.4em;
    font-family: monospace;
    font-size: 14px !important;
  }

  .userdata {
    padding: 10px !important;
  }

  .address {
    padding-top: 10px;
  }

  #recibo {
    pre {
      text-align: center !important;
    }
  }
  #obs {
    padding: 20px 0 !important;
  }
  .bolder {
    font-weight: bold !important;
  }

  #address {
    white-space: normal !important;
  }
  button {
    display: none !important;
  }
  .botao {
    display: none !important;
  }

  #command {
    width: 240px;
    display: inline-block;

     .values {
      display: none !important;
     }

     h3 {
      font-weight: normal;
     }
     label {
      font-weight: bold;
     }
    ul {
      padding: 10px 0;
      border-bottom: 1px dotted #000;
    }
  }
}





































