::-webkit-input-placeholder {
  font-family: inherit;
  line-height: initial;
  color: rgba(0, 0, 0, 0.15); }

::-ms-input-placeholder {
  font-family: inherit;
  line-height: initial;
  color: rgba(0, 0, 0, 0.15); }

::-moz-placeholder {
  font-family: inherit;
  line-height: initial;
  color: rgba(0, 0, 0, 0.15); }

:-moz-placeholder {
  font-family: inherit;
  line-height: initial;
  color: rgba(0, 0, 0, 0.15); }

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.wrapper,
.row {
  *zoom: 1; }
  .wrapper:before,
  .row:before, .wrapper:after,
  .row:after {
    content: " ";
    display: table; }
  .wrapper:after,
  .row:after {
    clear: both; }

html, body, h1,
h2,
h3, ul,
ol,
li {
  padding: 0; }

html, body, h1,
h2,
h3, ul,
ol,
li {
  margin: 0; }

.display-none {
  display: none; }
.display-block {
  display: block; }
.display-inline {
  display: inline; }
.display-inline-block {
  display: inline-block; }
.display-table-cell {
  display: table-cell; }

.float-left {
  float: left !important; }
.float-right {
  float: right !important; }
.float-none {
  float: none !important; }

.text-left {
  text-align: left; }
.text-right {
  text-align: right !important; }
.text-center {
  text-align: center; }

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  outline: none; }

*:focus {
  outline: 0; }

html {
  line-height: 1;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent; }

html, body {
  max-width: 100%; }

ul,
ol,
li {
  display: block;
  list-style: none; }

table {
  background-color: transparent;
  border-spacing: 0;
  border-collapse: collapse; }

p {
  margin: 0 0 15px; }

img {
  width: auto;
  max-width: 100%;
  height: auto !important; }

.relative {
  position: relative; }

[class*='col-'] {
  float: left;
  padding: 0;
  min-height: 1px; }

@media only screen and (min-width: 769px) {
  .col-1 {
    width: 8.33333%; }

  .col-2 {
    width: 16.66667%; }

  .col-3 {
    width: 25%; }

  .col-4 {
    width: 33.33333%; }

  .col-5 {
    width: 41.66667%; }

  .col-6 {
    width: 50%; }

  .col-7 {
    width: 58.33333%; }

  .col-8 {
    width: 66.66667%; }

  .col-9 {
    width: 75%; }

  .col-10 {
    width: 83.33333%; }

  .col-11 {
    width: 91.66667%; }

  .col-12 {
    width: 100%; } }
@media (max-width: 768px) {
  .col-1 {
    width: 100%;
    display: block; }

  .col-2 {
    width: 100%;
    display: block; }

  .col-3 {
    width: 100%;
    display: block; }

  .col-4 {
    width: 100%;
    display: block; }

  .col-5 {
    width: 100%;
    display: block; }

  .col-6 {
    width: 100%;
    display: block; }

  .col-7 {
    width: 100%;
    display: block; }

  .col-8 {
    width: 100%;
    display: block; }

  .col-9 {
    width: 100%;
    display: block; }

  .col-10 {
    width: 100%;
    display: block; }

  .col-11 {
    width: 100%;
    display: block; }

  .col-12 {
    width: 100%;
    display: block; } }

/*# sourceMappingURL=base.css.map */
