// VARIÁVEIS DO GRID
$grid-columns: 12;
$grid-max-width: 1170px;
$breakpoint-pc: "only screen and (min-width: 769px)";
$breakpoint-tablet: "(min-width: 769px) and (max-width:1024px)";
$breakpoint-phablet: "(max-width: 768px)";
$breakpoint-smartphone: "(max-width: 600px)";

// MIXINS
@mixin placeholder() {
    font-family: inherit;
    line-height: initial;
    color: rgba(0,0,0,0.15);
}
@mixin transition($propriedade, $tempo, $metodo, $delay){
    -webkit-transition: $propriedade $tempo $metodo $delay;
    -moz-transition: $propriedade $tempo $metodo $delay;
    -o-transition: $propriedade $tempo $metodo $delay;
    transition: $propriedade $tempo $metodo $delay;
}
@mixin transform($valor) {
    -webkit-transform: $valor;
    -moz-transform: $valor;
    -ms-transform: $valor;
    -o-transform: $valor;
    transform: $valor;
}
@mixin grayscale($valor) {
    -webkit-filter: grayscale($valor);
    -moz-filter: grayscale($valor);
    filter: grayscale($valor);
}
@mixin border-radius($valor) {
    -webkit-border-radius: $valor;
    -moz-border-radius: $valor;
    border-radius: $valor;
}
@mixin box-shadow($valor) {
    -webkit-box-shadow: $valor;
    -moz-box-shadow: $valor;
    box-shadow: $valor;
}
@mixin opacity($valor) {
    -moz-opacity: $valor;
    opacity: $valor;
}
@mixin equivalent-sizes($valor) {
    width: $valor;
    height: $valor;
}

::-webkit-input-placeholder {
    @include placeholder();
}
::-ms-input-placeholder {
    @include placeholder();
}
::-moz-placeholder {
    @include placeholder();
}
:-moz-placeholder {
    @include placeholder();
}
// SILENT CLASSES
%noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
%border-box {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
%clearfix {
    *zoom: 1;
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}
%padding-0 {
  padding:0;
}
%margin-0 {
  margin: 0;
}
%transition-default {
  @include transition(all,0.25s,linear,0s);
}

// VALORES PADRÃO
.display {
  &-none {
    display: none;
  }
  &-block {
    display: block;
  }
  &-inline {
    display: inline;
  }
  &-inline-block {
    display: inline-block;
  }
  &-table-cell {
    display: table-cell;
  }
}
.float {
  &-left {
    float: left !important;
  }
  &-right {
    float: right !important;
  }
  &-none {
    float: none !important;
  }
}
.text {
  &-left {
    text-align: left;
  }
  &-right {
    text-align: right !important;
  }
  &-center {
    text-align: center;
  }
}

*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    outline: none;
    @extend %border-box;
}
*:focus {
  outline: 0;
}
html {
  line-height: 1;
  -ms-touch-action: manipulation;
  touch-action: manipulation; 
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html, body {
  max-width: 100%;
  @extend %padding-0;
  @extend %margin-0;
}

h1,
h2,
h3 {
  @extend %padding-0;
  @extend %margin-0;
}
ul,
ol,
li {
  display: block;
  list-style: none;
  @extend %padding-0;
  @extend %margin-0;
}
    
table {
    background-color: transparent;
    border-spacing: 0;
    border-collapse: collapse;
}
p {
  margin: 0 0 15px;
}

img {
    width: auto;
    max-width: 100%;
    height: auto !important;
}
.relative {
  position: relative;
}
.wrapper,
.row {
    @extend %clearfix;
}

[class*='col-'] {
    float: left;
    padding: 0;
    min-height: 1px;
}

@media #{$breakpoint-pc} {
    @for $i from 1 through $grid-columns {
        .col-#{$i} {
            width: 100% / $grid-columns * $i;
        }
    }
}

@media #{$breakpoint-tablet} {
    // @for $i from 1 through $grid-columns {
    //     .col-#{$i} {
    //         width: 100% / $grid-columns * $i;
    //     }
    // }
}
@media #{$breakpoint-phablet} {
  @for $i from 1 through $grid-columns {
        .col-#{$i} {
            width: 100%;
            display: block;
        }
    }
}
