// SILENT CLASSES
%noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
%border-box {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
%clearfix {
    *zoom: 1;
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}
%padding-0 {
	padding:0;
}
%margin-0 {
	margin: 0;
}

// MIXINS
@mixin placeholder() {
	font-family: inherit;
	line-height: initial;
	color: rgba(0,0,0,0.2);
}

::-webkit-input-placeholder {
	@include placeholder();
}
::-ms-input-placeholder {
	@include placeholder();
}
::-moz-placeholder {
	@include placeholder();
}
:-moz-placeholder {
	@include placeholder();
}

@mixin transition($propriedade, $tempo, $metodo, $delay){
	-webkit-transition: $propriedade $tempo $metodo $delay;
	-moz-transition: $propriedade $tempo $metodo $delay;
	-o-transition: $propriedade $tempo $metodo $delay;
	transition: $propriedade $tempo $metodo $delay;
}
@mixin transform($valor) {
	-webkit-transform: $valor;
	-moz-transform: $valor;
	-ms-transform: $valor;
	-o-transform: $valor;
	transform: $valor;
}

@mixin grayscale($valor) {
    -webkit-filter: grayscale($valor);
    -moz-filter: grayscale($valor);
    filter: grayscale($valor);
}

@mixin border-radius($valor) {
	-webkit-border-radius: $valor;
	-moz-border-radius: $valor;
	border-radius: $valor;
}
@mixin box-shadow($valor) {
	-webkit-box-shadow: $valor;
	-moz-box-shadow: $valor;
	box-shadow: $valor;
}
@mixin opacity($valor) {
	-moz-opacity: $valor;
	opacity: $valor;
}
@mixin sameSizes($valor) {
	width: $valor;
	height: $valor;
}