::-webkit-input-placeholder {
  font-family: inherit;
  line-height: initial;
  color: rgba(0, 0, 0, 0.2); }

::-ms-input-placeholder {
  font-family: inherit;
  line-height: initial;
  color: rgba(0, 0, 0, 0.2); }

::-moz-placeholder {
  font-family: inherit;
  line-height: initial;
  color: rgba(0, 0, 0, 0.2); }

:-moz-placeholder {
  font-family: inherit;
  line-height: initial;
  color: rgba(0, 0, 0, 0.2); }

/*# sourceMappingURL=mixins.css.map */
