@import 'base';
@import 'icon-food.css';
@import 'themify.css';
@import 'animate.css';

// VARIÁVEIS DO LAYOUT
$font-default: "Helvetica Neue", sans-serif;
$color-accent: #f1be69;
$color-accent-text: #35210a;
$color-base: #f5e0bd;
$color-base-text: #4d5e70;
$color-base-smooth: rgba(0,0,0,0.2);
$color-text: rgba(0,0,0,0.75);
$default-space: 30px;
$small-space: 16px;
$supersmall-space: 8px;
$header-height: 75px;
$box-limit: 1070px;

// VALORES PADRÃO
.padding-default {
  padding: $default-space;

  &-top {
    padding-top: $default-space;
  }
  &-bottom {
    padding-bottom: $default-space;
  }
  &-left {
    padding-left: $default-space;
  }
  &-right {
    padding-right: $default-space;
  }
}
.padding-small {
  padding: $small-space;

  &-top {
    padding-top: $small-space;
  }
  &-bottom {
    padding-bottom: $small-space;
  }
  &-left {
    padding-left: $small-space;
  }
  &-right {
    padding-right: $small-space;
  }
}
.padding-supersmall {
  padding: $supersmall-space;

  &-top {
    padding-top: $supersmall-space;
  }
  &-bottom {
    padding-bottom: $supersmall-space;
  }
  &-left {
    padding-left: $supersmall-space;
  }
  &-right {
    padding-right: $supersmall-space;
  }
}
.margin-default {
  margin: $default-space;

  &-top {
    margin-top: $default-space;
  }
  &-bottom {
    margin-bottom: $default-space;
  }
  &-left {
    margin-left: $default-space;
  }
  &-right {
    margin-right: $default-space;
  }
}
.margin-small {
  margin: $small-space;

  &-top {
    margin-top: $small-space;
  }
  &-bottom {
    margin-bottom: $small-space;
  }
  &-left {
    margin-left: $small-space;
  }
  &-right {
    margin-right: $small-space;
  }
}
.border-default {
  border: 1px solid rgba(0,0,0,.4);
  padding: $small-space;
  border-top: none;
  border-right: none;

  &:before {
    content: " ";
    position: absolute;
    width:110%;
    height: 1px;
    left:0;
    top:0;
    background: rgba(0,0,0,.4);
  }

  &:after {
    content: " ";
    position: absolute;
    width:1px;
    height: 80%;
    right:0;
    bottom:0;
    background: rgba(0,0,0,.4);
  }

  &-top {
    border-top: 1px solid #edebe9;
  }
  &-bottom {
    border-bottom: 1px solid #edebe9;
  }
  &-left {
    border-left: 1px solid #edebe9;
  }
  &-right {
    border-right: 1px solid #edebe9;
  }
}
.wrap {
  max-width: $box-limit;
  margin: 0px auto;
}
.unfocus {
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.4);
  z-index: 98;
}
.border-dashed {
  border: 2px dotted rgba(0,0,0,0.2);
}

// ESTRUTURA DO LAYOUT
body {
  font-family: $font-default;
  font-weight: 300;
  color: $color-text;
  background: #fff;
  font-size: 10px;
  -webkit-font-smoothing: antialiased;
}
body, html {
  height: 100%;
}
a {
  text-decoration: none;
  color: $color-accent-text;

  &:hover {
    color: $color-accent;
  }
}
header {
  position: fixed;
  top: 10px;
  width: 100%;
  z-index: 90;
  @extend %noselect;

  .logomobile,
  .hidemobile {
    display: none !important;
  }

  &.products {
    top: 0;
    background: url(../img/bg-pattern.png) $color-accent-text;

    &:before {
      content: "";
      position: absolute;
      top: 0; 
      left: 0;
      bottom: 0;
      right: 0;
      border: 3px solid rgba(0,0,0,0.4);
    }

    .wrap {
      .logo {
        img {
          max-width: 80px;
        }
      }
      ul {
        li {
          position: relative;

          .info-added {
            position: absolute;
            top: 100%;
            left: 0;
            background: #fff;
            height: auto;
            line-height: 1em;
          }

          a {
            display: inline-block;
            cursor: pointer;

            &.bt-cart-info {
              background: $color-accent-text;
            }

            &.userinfo {
              background: rgba(0,0,0,0.25);
            }
            &.login {
              border: 1px solid rgba(255,255,255,0.75);
            }

            &.voltar {
              @include opacity(0.9);
              font-size: 0.825rem;
            }
          }
          .cart-items {
            position: absolute;
            top: 110%;
            left: 0;
            width: 100%;
            background: #fff;
            border: 2px solid $color-accent-text;
            font-family: "Patua One";
            text-align: left;
            padding: 15px;
            font-size: 0.9375rem;
            line-height: 1;
            visibility: hidden;
            z-index: 9999;
            @include opacity(0);
            @extend %transition-default;

            &.visible {
              top: 100%;
              visibility: visible;
              @include opacity(1);
              @extend %transition-default;
            }

            li {
              display: block;
              position: relative;
              margin-bottom: 12px;
              overflow:hidden;
              white-space: nowrap;

              &:after {
                content:"";
                position: absolute;
                top:0;
                left: 0;
                width: 100%;
                height: 100%;
                @include box-shadow(inset -40px 0px 30px -15px #fff);
              }

              b {
                right: 0;
                top: 17px;
                position: absolute;
                font-weight: normal;
                color: #999;
                z-index: 999;

                .bt-product-remove,
                .bt-product-add {
                  cursor: pointer;
                  width: 15px;
                  line-height: 14px;
                  height: 15px;
                  font-size: 10px;
                  text-align: center;
                  position: relative;
                  margin: 0 2px;
                  display: inline-block;
                }
                .bt-product-remove {
                  color: #dc746c;
                  border: 1px solid #dc746c;
                }
                .bt-product-add {
                  color: #319610;
                  border: 1px solid #319610;
                }
              }
              strong {
                font-weight: normal;
                display: block;
                padding-right: 25px;
              }
            }

            span {
              color: $color-accent;
              display: block;
              margin-top: 3px;
            }

            .taxa {

            }
            .subtotal {
              margin-top: 10px;
              padding: 6px 10px;
              border: 1px dotted $color-accent-text;

              span {
                color: $color-accent-text;
              }
            }
            .button {
              margin-top: 20px;
              padding: 14px 16px;
              display: block;
              text-align: center;
              font-size: 0.9375rem;
            }
          }
          .user-items {
            position: absolute;
            top: 110%;
            left: 0;
            width: 100%;
            background: #fff;
            border: 2px solid $color-accent-text;
            text-align: left;
            padding: 10px 10px;
            font-size: 0.9375rem;
            line-height: 1;
            visibility: hidden;
            @include opacity(0);
            @extend %transition-default;

            &.visible {
              top: 100%;
              visibility: visible;
              @include opacity(1);
              @extend %transition-default;
            }

            li {
              display: block;
              position: relative;
              margin: 12px 0;

              a {
                padding: 3px 0 !important;
                color: $color-accent-text !important;
                text-shadow: none !important;
                vertical-align: middle !important;
                font-size: 0.9em !important;
                i {
                  display: inline-block;
                  margin-right: 3px;
                }
              }
            }

          }
        }
      }
    }
  }

  .wrap {
    // background: rgba(0,0,0,0.7);
    height: $header-height;
    padding: 0 $small-space;
    
    > * {
      line-height: $header-height;
      display: inline-block;
      vertical-align: top;
    }

    .logo {
      padding: 0 $small-space;
      img {
        max-width: 120px;
        display: inline-block;
        vertical-align: middle;
      }
    }
    ul {
      li {
        display: inline-block;

        a:not(.button):not(.logo) {
          font-size: 1.4em;
          -webkit-font-smoothing: antialiased;
          font-family: "Rye";
          color: #fff;
          text-transform: uppercase;
          padding: 15px 1px;
          margin: 0 1px;
          position: relative;
          z-index: 1;
          display: block;
          line-height: 1em;
          text-shadow: 1px 1px 0 #111;
          border: 1px solid rgba(255,255,255,0);

          &:after,
          &:before {
            display: inline-block;
            margin: 0 3px;
            font-size: 0.7em;
            vertical-align: bottom;
            content: "★";
            visibility: hidden;
            @include opacity(0);
          }

          &.active {
            border-color: rgba(255,255,255,.95);

            &:after,
            &:before {
              visibility: visible;
              @include opacity(1);
            }
          }

          &:not(.nohover):hover {
            border-color: rgba(255,255,255,.95);
            -webkit-animation-duration: 0.4s;
            animation-duration: 0.4s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
            -webkit-animation-name: tada;
            animation-name: tada;

            &:after,
            &:before {
              visibility: visible;
              @include opacity(1);
              @include transition(all,0.2s,linear,0s);
            }
          }
        }
      }
    }
  }
}

label {
  display: block;
  text-align: left;
  text-transform: uppercase;
  font-family:"Rye";
  font-size: 0.8125rem;
  margin-bottom: 5px;
  margin-left: 5px;
}

.validator_error {
  position: absolute;
  top: 100%;
  right: 10px;
  color: #fff;
  font-weight: bold;
  background: #dc5a5a;
  font-size: 13px;
  padding: 8px 10px;
  max-width: 90%;
  z-index: 80;
  @include border-radius(3px 0 3px 3px);

  &:before {
    position: absolute;
    top: -8px;
    right: 0;
    content: " ";
    display: block;
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 0px solid transparent;

    border-bottom: 8px solid #dc5a5a;
  }
}

.input {
  position: relative;

  i {
    font-size: 1rem;
    width: 50px;
    color: rgba(0,0,0,0.2);
    position: absolute;
    top: 50%;
    margin-top: -0.5em;
    left: 0;

    + input {
      padding-left: 50px;
    }
  }
}

input,
textarea {
  background: rgba(245, 224, 189, 0.3);
  border: 2px solid rgba(0,0,0,0);
  font-family: "Patua One";
  padding: 14px 16px;
  color: $color-accent-text;
  width: 100%;
  font-size: 1.1rem;
  @include border-radius(5px);

  &:focus {
    background: #fff;
    border-color: $color-accent-text;
  }
}
textarea {
  resize: none;
  height: 140px;
}

select {
  background: rgba(245, 224, 189, 0.3);
  border: 2px solid rgba(0,0,0,0);
  font-family: "Patua One";
  padding: 14px 16px;
  color: $color-accent-text;
  width: 100%;
  height: 52px;
  font-size: 1.1rem;
}

.shipping-data {
  position: relative;
  ul {
    position: relative;
    z-index: 10;

    li {
      padding: 4px;

      input:not(:focus),
      select {
        background: $color-base;
      }
      input {
        padding: 8px 14px;
        font-size: 0.9rem;
      }
      select{
        height: 42px;
        padding: 8px 14px;
        font-size: 0.9rem;
      }
    }
  }

  input[type=radio] {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: none;
    width: 40px;
    height: 40px;
    position: absolute;
    top: -9px;
    right: -9px;
    content: "";
    cursor: pointer;
    z-index: 50;
    border: 2px solid rgba(0,0,0,0);
    @include border-radius(0);

    &:checked {
      + .end {
        background: url(../img/bg-pattern.png) $color-accent-text;
        color: #fff;

        &:after {
          display: block;
          content: "\e64c";
          background: #8bc34a;
        } 
        &:before {
          content: "";
          position: absolute;
          top: 3px;
          left: 3px;
          right: 3px;
          bottom: 3px;
          border: 2px solid rgba(255,255,255,0.15);
          z-index: 1;
        }
      }
    }
  }

  .end {
    border: 1px solid $color-accent-text;
    color: $color-accent-text;
    padding: 15px 20px;
    font-size: 1rem;
    line-height: 1.3em;
    font-family: "Patua One";
    text-align: left;
    position: relative;
    margin: 0;
    cursor: pointer;
    text-transform: none;

     &:after {
      content: "";
      right: -9px;
      top: -9px;
      font-size: 22px;
      width: 40px;
      height: 40px;
      background: #fff;
      border: 2px solid #8bc34a;
      font-family: 'themify';
      position: absolute;
      color: #fff;
      display: none;
      z-index: 20;
      @include border-radius(50%);
      text-align: center;
      line-height: 38px;
    }

  }
}
.order-title {
    max-width: 900px;
    margin: 7px auto 0 auto;
    font-family: "Rye";
    text-transform: uppercase;
    font-size: 1rem;
    color: #444;
    padding: 22px 25px;
    background: #ddd url(../img/bg-pattern.png) top center repeat;
    position: relative;
    border: 2px solid rgba(0,0,0,0.1);
    cursor: pointer;

    @extend %noselect;

    &.active {
      background-color: $color-accent;
      color: $color-accent-text;
      i {
        &:before {
          content: "\e627";
        }
      }
    }
    small {
      background: rgba(255,255,255,.85);
      display: inline-block;
      padding: 6px 10px;
      border: 1px solid #999;
      margin-left: 8px;
      @include box-shadow(-2px 2px 0px rgba(0,0,0,.2));

      &.aguardando {
        color: #ef7200;
        border-color: #ef7200;
      }
      &.cancelado {
        color: #bf1818;
        border-color: #bf1818;
      }
      &.entregue {
        color: #167b16;
        border-color: #167b16;
      }
    }
}
.order-item {
  display: none;
}

.checkout-icon {
  @include equivalent-sizes(70px);
  @include border-radius(50%);
  border: 2px solid #e9ffd0;
  color: #4caf50;
  display: inline-block;
  margin: 10px auto 0 auto;
  line-height: 70px;
  font-size: 36px;
}
.checkout-box {
  background: #e9ffd0;
  padding: 20px 40px;
  line-height: 1.5em;
  display: inline-block;
  border: 1px solid #4caf50;
  color: #111;
}

.button {
    letter-spacing: 0px;
    color: $color-accent-text;
    font-size: 1.1rem;
    padding: 22px 30px;
    text-transform: uppercase;
    font-family: "Rye";
    background: $color-accent url(../img/bg-pattern.png) top center repeat;
    position: relative;

    &.add-cart {
      padding: 12px 15px;
      font-size: 0.875rem;
      text-align: center;
    }

    &:hover {
      color: #111;
      -webkit-animation-duration: 0.4s;
      animation-duration: 0.4s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      -webkit-animation-name: tada;
      animation-name: tada;
    }

    &:before {
      content:"";
      position: absolute;
      top: -2px;
      left: -2px;
      bottom: -2px;
      right: -2px;
      border: 2px solid $color-accent-text;
      @include opacity(0.7);
    }
    &:after {
      content:"";
      position: absolute;
      top: 3px;
      left: 3px;
      bottom: 3px;
      right: 3px;
      border: 1px solid $color-accent-text;
      @include opacity(0.3);
    }
    span {
      display: block;
      margin: 3px 0;
      margin-top: -2px;
    }
    small {
      margin-top: 4px;
      color: #111;
    }
    i {
      font-size: 0.6em;
      margin: 0 2px;
      font-style: normal;
    }
    b {
      font-size: 0.7em;
      vertical-align: initial;
      display: inline-block;
    }
    strong {
      font-size: 0.7em;
      vertical-align: bottom;
      display: inline-block;
    }

    &-small {
      @extend .button;
      font-size: 1rem;
      padding: 15px 22px;
    }
    &.bt-submit {
      padding-right: 60px;
      padding-left: 60px;
    }
}

.subheader {
  display: block !important;
  z-index: 10;
  color: rgba(255,255,255,0.6);
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 10px;
  text-align: left;
  font-size: 1.1em;
  line-height: 1em;
  padding: 15px 15px 0 15px;

  span {
    margin-right: 15px;
  }
  a {
    margin: 0 4px;
    vertical-align: top;
    display: inline-block;
    color: rgba(255,255,255,.7);

    &:hover {
      color: #fff;
    }
  }
}

.headerfix {
  padding-top: $header-height;
  margin-bottom: - ($header-height);
  display: block;
  height: auto;
  width: 100%;
  position: relative;
}

section {
  padding: $default-space 0;

  .section-title {
    font-family:"Rye";
    text-transform: uppercase;
    font-size: 2.6em;
    font-weight: 300;
    color: $color-accent-text;
    -webkit-font-smoothing: antialiased;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      top: 10px;
      left: 50%;
      margin-left: -115px;
      height: 1px;
      width: 80px;
      background: $color-accent-text;
    }
    &:after {
      content: "";
      position: absolute;
      top: 10px;
      right: 50%;
      margin-right: -115px;
      height: 1px;
      width: 80px;
      background: $color-accent-text;
    }

    span {
      display: block;
      font-size: 1rem;
      margin-bottom: 10px;

      b {
        font-size: 1.2em;
      }
    }
  }
  .section-subtitle {
    font-family:"Patua One";
    font-size: 1.8em;
    margin-top: $small-space;

    a {
      display: block;
    }
  }
  .section-content {
    font-family:"Patua One";
    font-size: 1.6em;
    line-height: 1.6em;
    letter-spacing: -0.25px;
    margin: $small-space auto 0 auto;
    max-width: 600px;
    position: relative;
    -webkit-font-smoothing: antialiased;
  }
  .gallery {
    font-size: 0;

    li {
      display: inline-block;
      width: 33.333%;
      padding: 4px;

      &.large {
        width: 100%;
      }

      img {
        @include border-radius(4px);
      }
    }
  }
}

#inicio {
	background: #111;
  position: relative;
  overflow: hidden;
  z-index: 30;

  section {
   padding: 0;
   height: 700px;
   position: relative;
  }

  &.headerfix {
    padding-top: 0;
  }

  .banner {
    position: absolute;
    top:50%;
    text-align: center;
    left:0;
    width: 100%;
    z-index: 10;
    -webkit-font-smoothing: antialiased;

    .banner-content {
      display: inline-block;
      text-transform: uppercase;
      vertical-align: middle;
      color: rgba(255,255,255,1);
      letter-spacing: 3px;
      z-index: 1;
      position: relative;
      margin-top: - 40px;
      @include opacity(0.85);
    }
    
    img {
      vertical-align: middle;
      width: 40%;
      max-width: 500px;
      margin-right: -50px;
      margin-left: -30px;
      display: inline-block;
      z-index: 10;
      position: relative;
    }
    h1 {
      font-family: "Bangers";
      font-size: 2rem;
      margin-bottom: - $small-space;
    }

    h2 {
      font-family: "Patua One";
      font-size: 4.5rem;
      padding: $default-space $default-space $default-space 0;
      position: relative;
      margin-bottom: 20px;
      border-bottom: 1px solid #fff;

      &:before {
        content: "";
        position: absolute;
        bottom: -1px;
        left:-20%;
        height: 100%;
        width: 35%;
        border-top: 1px solid #fff;
      }
      &:after {
        content: "";
        position: absolute;
        bottom: -1px;
        right:0;
        height: 100%;
        width: 15%;
        border: 1px solid #fff;
        border-left: none;
        border-bottom: none;
      }

      span {
        font-size: 1.1em;
      }
      i {
        margin-bottom: -50px;
        display: block;
      }
    }
    .button {
      padding: 10px 20px;
      z-index: 50;
      @include box-shadow(3px 5px 7px rgba(0,0,0,.5));
      
    }
  }

  .bg-home {
    @include opacity(0);
    width: 130%;
    max-width: 130%;
    margin-left: -15%;
    position: absolute;
    bottom:0;
    display: block;
  }
}

#destaques {
  background: #fff;
  z-index: 20;

  ul {
    display: table;
    width: 100%;
    position: relative;
    border-collapse: separate;
    border-spacing: 5px;
    margin-top: - ($default-space);

    li {
      background: $color-base url(../img/bg-pattern2.png) bottom center repeat-x;
      display: table-cell;
      width: 33.333%;
      text-align: center;
      position: relative;
      padding: $default-space;
      overflow: hidden;


      &:last-child {
        border: none;
      }

      i {
        margin-bottom: 10px;
        font-size: 50px;
        display: block;
        color: $color-accent-text;
      }
      h3 {
        color: $color-accent-text;
        font-family: "Patua One";
        letter-spacing: -0.5px;
        text-transform: uppercase;
        font-size: 2.5em;
        margin-bottom: $small-space;

        strong {
          display: block;
          color: #111;
        }
      }
      p {
        font-size: 1.4em;
        line-height: 1.5em;
        margin: 0;
      }
    }
  }

  img {
    margin-top: $default-space;
  }
}
#sobre {

  section {
    background: url(../img/bg-pattern2.png) bottom center repeat-x, url(../img/bg-sobre.jpg) top center no-repeat;
    background-size: auto, 100%;
    color: rgba(255,255,255,.85);
    z-index: 10;
  }

  .section-title {
    &:before,
    &:after {
      background: rgba(255,255,255,.7);
    }
  }

  h3 {
    color: #fff;
  }
}
#delivery {
  z-index: 20;

  .products {
    font-size: 0;
    li {
      font-size: 10px;

      .img {
        background: #fff;
        @include border-radius(6px);

        img {
          display: block;
        }
      }

      .product-title {
        padding: $default-space;
        font-size: 1.2em;
        margin-top: -30px;
        background: $color-base url(../img/bg-pattern2.png) bottom center repeat-x;
        font-size: 1.4em;
        line-height: 1.3em;
        font-family: "Patua One";
        color: rgba(0,0,0,.6);

        strong {
          font-size: 1.6rem;
          margin-bottom: 10px;
          display: block;
          text-transform: uppercase;
          color: $color-accent-text;
        }
        .price {
          display: block;
          margin-top: 10px;
          font-size: 1.2rem;
          font-family:"Rye";
          color: #111;
        }
      }
    }
  }
}

#contato {
  section {
    position: relative;
    background: $color-accent-text url(../img/bg-pattern.png) top center repeat;
    overflow: hidden;

    .section-title {
      &:before,
      &:after {
        background: rgba(255,255,255,.7);
      }
    }

    .infos {
      padding: $small-space 0;
      background: #fff;
    }
    .location {
      font-family: "Patua One";
      color: #222;
      font-size: 1.4em;
      display: block;
      padding: $small-space $default-space;

      li {
        margin-bottom: 12px;
        position: relative;
        padding-left: 35px;
        line-height: 1.5em;

        &:last-child {
          margin: 0;
        }
      }
      i {
        position: absolute;
        top:50%;
        margin-top: -0.5em;
        left: 0;
        font-size: 14px;
        @include opacity(0.5);
      }
    }

    .map {
      background: #fff;
      
      iframe {
        display: block;
        width: 100%;
        @include opacity(0.85);
      }
    }
  }
}

#insta {
  z-index: 40;

  section {
  }

  .section-subtitle {
    background: $color-base;
    display: inline-block;
    padding: $small-space;
    @include border-radius(2px);
    @include transform(rotate(-10deg));
  }
  .button {
    margin-top: $small-space;
    margin-bottom: -$small-space;
    z-index: 10;
    @include transform(rotate(-4deg));
  }
  .instaphotos {
    font-size:0;
    background: #666;
    padding: 1px;

    li {
      display: inline-block;
      width: calc(20% - 2px);
      border: 2px solid #fff;
      overflow: hidden;
      margin: 1px;

      &:hover {
        img {
          cursor: pointer;
          @include transform(scale(1.1));
          @include opacity(1);
          @include transition(all,1s,ease,0.2s);
        }
      }

      img {
        width: 100%;
        @include grayscale(50%);
        @include opacity(0.75);  
        @include transition(all,0.6s,ease,0s);

      }
    }
  }
}

#shopping {
  section {
    .section-title {
      font-size: 2.2em;
    }
    padding-top: 80px;
  }
  .products {
    font-size: 0;
    text-align: left;
  }
  .product {
    font-size: 10px;
    background: #fff;
    border: 2px solid #f4f4f4;
    text-align: left;
    padding: 7px 0;
    margin-bottom: 10px;
    margin-right: 10px;
    width: calc(50% - 10px);
    position: relative;
    z-index: 1;

    display: inline-block;
    vertical-align: top;

    &:hover {
      border-color: $color-base;
      cursor: pointer;

      .info-addcart {
        -webkit-animation-duration: 0.25s;
        animation-duration: 0.25s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-animation-name: tada;
        animation-name: tada;
        visibility: visible;
        @include opacity(1);
        @include transition(all,0.25s, ease,0s);
      }
    }

    &:after {
      content: "";
      position: absolute;
      top: 30px;
      left: 130px;
      right: 0;
      height: 1px;
      border-bottom: 1px dashed #999;
      z-index: -1;
    }

    > * {
      display: table-cell;
      vertical-align: middle;
    }
    .product-thumb {
      background: #fff;
      width: 95px;
      padding-left: 10px;
      margin-right: 5px;
      margin-left: 15px;
      background: #fff;
    }
    .product-info {
      width: calc(100% - 110px);
      vertical-align: top;
    }

    .product-name {
      font-size: 1.1rem;
      letter-spacing: 0.5px;
      font-family: "Patua One";
      margin-bottom: 5px;
      margin-top: 15px;
      padding: 0 10px;
      display: inline-block;
      text-transform: uppercase;
      background: #fff;
      color: $color-accent-text;
    }
    .product-description {
      font-size: 1.3em;
      line-height: 1.2em;
      color: #ccc;
      margin-bottom: 15px;
      margin-left: 10px;
      min-height: 15px;
      max-width: 95%;

      font-family: "Patua One";
    }

    .product-price {
      display: inline-block;
      margin-bottom: 10px;
      padding: 20px 20px 0 5px;
      background: #fff;
      font-size: 11px;
      font-family: "Rye";
      font-style: normal;
      text-align: right;
      position: absolute;
      right: 0;
      top: 0;
      color: #9E3636;

      strong {
        font-weight: normal;
        font-size: 1.55em;
      }
    }
    .info-addcart {
      position: absolute;
      bottom: 2px;
      right: -5px;
      font-family: $font-default;
      font-size: 0.6875rem;
      text-transform: uppercase;
      font-weight: 500;
      background: $color-accent;
      color: #fff;
      padding: 10px 8px;
      z-index: 500;
      visibility: hidden;
      @include opacity(0);
    }
  }
}
#internal {
  padding-top: 80px;

  form {
    li {
      position: relative;
    }
  }
}
.form-login {
  max-width: 700px;
  margin: 0px auto;
  border: 2px solid $color-accent-text;
  padding: 20px;
}

.form-register {
  max-width: 900px;
  margin: 0px auto;
}

.cart-list {
  .cart-item {
    display: table;
    border: 2px dotted #ddd;
    width: 100%;
    text-align: left;
    padding: 12px 20px;
    margin-top: -2px;

    &.total {
      padding: 20px;
      background: url(../img/bg-pattern.png) #f1f1f1;
      font-size: 13px;


      > * {
        color: $color-accent-text;
      }
    }

    > * {
      display: table-cell;
      vertical-align: middle;
    }

    .product-thumb {
      width: 40px;
      padding-right: 5px;

      img {
        max-width: 100%;
      }
    }

    strong {
      font-size: 1.6em;
      font-weight: normal;
      letter-spacing: 0.5px;
      font-family: "Patua One";
      padding: 0 10px;
      text-transform: uppercase;
      color: #35210a;

      small {
        display: block;
        font-size: 0.7em;
        margin-top: 4px;
        color: #999;
      }
    }
    .qtd {
      text-align: right;

      span {
        font-family: "Patua One";
        width: 20px;
        text-align:center;
        font-size: 1.4em;
        display: inline-block;
      }

      .bt-product-add,
      .bt-product-remove {
        cursor: pointer;
        width: 23px;
        line-height: 22px;
        height: 23px;
        font-size: 14px;
        text-align: center;
        position: relative;
        margin: 0 2px;
        display: inline-block;
      }
      .bt-product-remove {
        color: #dc746c;
        border: 1px solid #dc746c;
      }
      .bt-product-add {
        color: #319610;
        border: 1px solid #319610;
      }
    }
    b {
      width: 20%;
      margin-bottom: 10px;
      font-size: 1.6em;
      font-family: "Rye";
      font-weight: normal;
      text-align: right;
      color: #9E3636;
    }
  }
}

footer {
  background: $color-accent-text;
  color: rgba(255,255,255,0.5);
  padding: ($default-space + 30) 0 ($default-space + 25) 0;

  ul {
    vertical-align: top;
    display: inline-block;

    li {
      display: block;
      font-family: "Patua One";
      font-weight: 300;
      font-size: 1.3em;
      line-height: 1.4em;
      margin: 5px 0;

      i {
        display: inline-block;
        margin-right: 10px;
        vertical-align: middle;
      }

      a {
        color: #fff;
      }

      img {
        max-width: 150px;
        @include opacity(0.75);
      }
    }
  }
}

@media (min-width: 769px) {
  header {
    &.small {
      top:0;
      background: url(../img/bg-pattern.png) $color-accent-text;
      @include transition(all,0.25s,linear,0s);

      &:before {
        content: "";
        position: absolute;
        top: 0; 
        left: 0;
        bottom: 0;
        right: 0;
        border: 3px solid rgba(0,0,0,0.4);
      }

      .wrap {
        @include transform(scale(0.95));
        @include transition(all,0.25s,linear,0s);

        .logo {
          img {
            max-width: 80px;
            @include transition(all,0.25s,linear,0s);
          }
        }
      }
      .subheader {
        display: none !important;
      }
    }
  }
}

// BREAKPOINT TABLET
@media (max-width: 1024px) {

  .subheader {
    margin-bottom: 6px;
    padding: 10px 15px 0 15px;
  }
  header .wrap .logo {
    padding: 0 6px;

    img {
      max-width: 100px;
    }
  }
  header .wrap ul li a:not(.button):not(.button-small):not(.logo) {
    padding: 15px 5px; 
    font-size: 1.3em;
    margin: 0 6px;
  }
  header .wrap ul li a:not(.button):not(.button-small):not(.logo):after, header .wrap ul li a:not(.button):not(.button-small):not(.logo):before {
    display: none;
  }
  section {
    .section-title {
      font-size: 2.2em;
    }
    .section-subtitle {
      margin-top: 6px;
    }
    .section-content {
      font-size: 1.5em;
      line-height: 1.4em;
      margin: 12px auto 0 auto;
    }
  }
  #inicio {
    section {
      min-height: 500px;
    }
    .banner {
      top: 55%;
      @include transform(scale(0.8));
    }
    .bg-home {
      width: 140%;
      max-width: 140%
    }
  }
  #destaques {
    ul {
      li {
        padding: 15px 20px 25px 20px;

        i {
          font-size: 40px;
          margin-bottom: 4px;
        }
        h3 {
          letter-spacing: 0;
          font-size: 2em;
          margin-bottom: 10px;
        }
        p {
          font-size: 1.3em;
          line-height: 1.4em;
        }
      }
    }
    img {
      margin-top: 80px;
    }
  }
  #sobre {
    section {
      background-size: auto, 130%;
    }
  }
  #delivery {
    padding-right: 10px;
    padding-left: 10px;

    .products {
      li {
        padding: 5px;

        .product-title {
          padding: 30px 20px;

          strong {
            font-size: 1.4rem;
          }
        }
      }
    }
  }
  #insta {
    .instaphotos {
      margin: 0 20px;
    }
  }

  footer {
    padding-right: 20px;
    padding-left: 20px;
  }
}
// BREAKPOINT PHABLET
@media (max-width: 768px) {
  .margin-smartphone-zero {
    margin: 0;

    &-top {
      margin-top: 0;
    }
    &-bottom {
      margin-bottom: 0;
    }
    &-left {
      margin-left: 0;
    }
    &-right {
      margin-right: 0;
    }
  }
  .padding-smartphone-zero {
    padding: 0;

    &-top {
      padding-top: 0;
    }
    &-bottom {
      padding-bottom: 0;
    }
    &-left {
      padding-left: 0;
    }
    &-right {
      padding-right: 0;
    }
  }
  .padding-smartphone-small {
    padding: $small-space;

    &-top {
      padding-top: $small-space;
    }
    &-bottom {
      padding-bottom: $small-space;
    }
    &-left {
      padding-left: $small-space;
    }
    &-right {
      padding-right: $small-space;
    }
  }
  .padding-smartphone-supersmall {
  padding: $supersmall-space;

  &-top {
    padding-top: $supersmall-space;
  }
  &-bottom {
    padding-bottom: $supersmall-space;
  }
  &-left {
    padding-left: $supersmall-space;
  }
  &-right {
    padding-right: $supersmall-space;
  }
}
  .hide-smartphone {
    display: none !important;
  }
  .display-smartphone {
    &-block {
      width: 100% !important;
      float: none !important;
      display: block !important;
    }
  }
  .text-smartphone {
    &-center {
      text-align: center !important;
    }
    &-left {
      text-align: left !important;
    }
  }
  .padding-default {
    padding: 16px;

    &-top {
      padding-top: 16px;
    }
    &-bottom {
      padding-bottom: 16px;
    }
    &-left {
      padding-left: 16px;
    }
    &-right {
      padding-right: 16px;
    }
  }
  .margin-default {
    margin: 20px;

    &-top {
      margin-top: 20px;
    }
    &-bottom {
      margin-bottom: 20px;
    }
    &-left {
      margin-left: 20px;
    }
    &-right {
      margin-right: 20px;
    }
  }
  .border-default {
    border: 1px solid rgba(0, 0, 0, 0.4);
    background: #fff;

    &:after,&:before {
      display: none;
    }
  }
  .button,
  .button-small {
    font-size: 1rem;
    padding: 10px 15px !important;
  }
  .wrap {
    padding:0 10px;
  }
  header .wrap ul li a:not(.button):not(.button-small):not(.button-small):not(.logo) {
    padding: 15px 30px;
  }
  header {
    &.products {
      .wrap {
        ul {
          width: auto;

          &:last-child {
            li {
              a {
                padding: 15px 10px !important;
              }
            }
          }

          li {
            &:last-child {
              a {
                padding: 15px 10px !important;
              }
            }

            a:not(.button) {
              margin: 0 !important;
            }
            .cart-items {
              width: 200px;
              right: 0;
              left: auto;

              &.visible {

              }
            }
            .user-items {
              width: 200px;
              right: 0;
              left: auto;
              z-index: 999;
            }
          }
        }
      }
    }
  }
  header:not(.products) {
    top:0;
    background: url(../img/bg-pattern.png) $color-accent-text;
    border-bottom: 3px solid rgba(0, 0, 0, 0.4);

    .subheader {
      display: none !important;
    }

    .logomobile {
        max-width: 80px;
        margin: 12px 20px;
        display: inline-block !important;

      img {
        display: block;
        width: 100%;
      }
    }
    .navmobile {
      position: fixed;
      top: 13px;
      right: 20px;
      width: 50px;
      height: 50px;
      // background: url(../img/bg-pattern.png) $color-accent-text;
      background: rgba(0, 0, 0, 0.25);

      &:before {
        content: " ";
        position: absolute;
        top: 15px;
        left: 10px;
        width: 30px;
        height: 2px;
        background: #fff;
      }
      &:after {
        content: " ";
        position: absolute;
        bottom: 15px;
        left: 10px;
        width: 30px;
        height: 2px;
        background: #fff;
      }

      span {
        position: absolute;
        width: 30px;
        height: 2px;
        background: #fff;
        top: 50%;
        left: 10px;
        margin-top: -1px;
      }
    }

    .wrap {
      padding: 0;
      text-align: left !important;

      ul {
        display: none;
        margin-top: 5px;
        padding: 15px;
        background: url(../img/bg-pattern.png) $color-accent-text;
        right: 5px;
        position: fixed;
        text-align: center;
        border: 3px solid rgba(0, 0, 0, 0.4);
        @include box-shadow(0px 10px 8px -2px rgba(0,0,0,.6));

        li {
          display: block;
        }
      }
    }
  }
  section {
    .section-title {
      font-size: 1.8em;
    }
    .section-subtitle {
      font-size: 1.5em;
    }
    .gallery {
      li {
        width: 25% !important;
        padding: 2px;
        img {
          border: 1px solid #000;
        }
      }
    }
  }
  #inicio {
    section {
      height: 460px;
      min-height: 460px;
      max-height: 460px;
    }
    .bg-home {
      width: 250%;
      max-width: 500%;
      @include opacity(1);
    }
    .banner {
      white-space: nowrap;
      top: 50%;

      .banner-content {
        @include opacity(1);
        vertical-align: middle;
      }

      img {
        margin-right: -40px;
        margin-left: -50px;
        width: 55%;
        vertical-align: middle;
      }
      h1 {
        font-size: 1.2rem;
        margin-bottom: -32px;
      }
      h2 {
        border: 1px solid #fff;
        font-size: 2.5rem;
        padding: 35px 0px 15px 0;

        &:after, &:before {
          display: none;
        }
      }
    }
  }
  #destaques {
    ul {
      li {
        background: #f5e0bd;
        display: block;
        width: 100%;
        margin-bottom: 3px;
        padding: 15px;

        i, h3 {
          display: inline-block;
          vertical-align: middle;
          margin-bottom: 0;
          text-align: left;
          margin-left: 8px;
        }
        i {
          font-size: 34px;
        }
        h3 {
          font-size: 1.7em;
        }
        p {
          margin-top: 6px;
        }
      }
    }
    img {
      margin-top: -50px;
      margin-bottom: -80px;
      max-width: 300px;
      display: inline-block;
      margin-right: auto;
      margin-left: auto;
    }
  }
  #sobre {
    h3 {
      margin-top: 20px;
    }
    section {
      background: $color-accent-text url(../img/bg-pattern.png) top center repeat;
    }
  }
  #delivery {
    .products {
      li {
        padding: 2px;
        position: relative;

        .img {
          top: 50%;
          margin-top: -50px;
          position: absolute;
          left: 10px;
          background: none;

          img {
            width: 155px;
            margin-left: -30px;
          }
        }
        .product-title {
          margin-top: 0;
          padding-left: 100px;
          padding-top: 20px;
          padding-bottom: 20px;
          padding-right: 10px;
          text-align: left;
          background-image: none;

          strong {
            font-size: 1.2rem;
          }
        }
      }
    }
  }
  #contato {
    section {
      .map {
        iframe {
          height: 180px;
        }
      }
      .location {
        padding: 6px 20px;

        li {
          margin-bottom: 6px;
        }
      }
    }
  }
  #insta {
    .button {
      padding: 12px 18px;
    }
    .instaphotos {
      li {
        width: calc(50% - 2px);
      }
    }
  }
  #shopping {
    .products {
      padding: 10px;
    }
    section {
      .section-title {
        font-size: 1.6em;
        margin-bottom: 2px;
        margin-top: 8px;

        span {
          margin-bottom: 3px;
        }
      }
    }
    .product {
      width: 100%;
      margin-right: 0;
      height: 75px;
      margin-bottom: -2px;
      overflow: hidden;

      &:after {
        display: none;
      }

      .product-thumb {
        width: 70px;
      }

      .product-name {
        height: 15px;
        margin-top: 6px;
        font-size: 0.875rem;
        overflow: hidden;
        display: block;
      }
      .product-price {
        padding-top: 15px;

        strong {
          font-size: 1.15em;
        }
      }

      .product-description {
        height: 25px;
        font-size: 1.1em;
        overflow: hidden;
      }
    }
  } 
  label {
    font-size: 0.65rem;
    margin-bottom: 3px;
  }
  select {
    height: 42px;
  }
  input,textarea {
    padding: 9px 16px;
    font-size: 1rem;
  }
  textarea {
    height: 100px;
  }
  .cart-list {
    .cart-item {
      padding: 7px 10px;

      &.total {
        padding: 14px;
      }

      b {
        font-size: 1em;
      }
      .qtd {
        white-space: nowrap;
        padding-right: 10px;

        span {
          width: 16px;
        }
        a {
          margin: 0 !important;
        }
      }

      strong {
        font-size: 1.2em;
        letter-spacing: 0;
        padding:0 6px;
      }
    }
  }
  .order-title {
    font-size: 0.875rem;
    padding: 12px 18px;

    i {
      position: absolute;
      top: 50%;
      right: 10px;
      margin-top: -0.5em;
      font-size: 20px;
    }

    span {
      display: block;
      float: none !important;
      padding-top: 6px;
      font-size: 0.8em;
      color: #666;
    }
  }
  footer {
    padding-bottom: 10px;
    padding-top: 50px;

    ul {
      text-align: center !important;

      &.copy {
        margin-top: 20px !important;
      }

      li {
        img {
          max-width: 90px
        }
      }
    }
  }
}

@media (max-width: 360px) {
  .bt-vercardapio {
    display: none;
  }
}




