@charset "UTF-8";
@import url(icon-food.css);
@import url(themify.css);
@import url(animate.css);
::-webkit-input-placeholder {
  font-family: inherit;
  line-height: initial;
  color: rgba(0, 0, 0, 0.15); }

::-ms-input-placeholder {
  font-family: inherit;
  line-height: initial;
  color: rgba(0, 0, 0, 0.15); }

::-moz-placeholder {
  font-family: inherit;
  line-height: initial;
  color: rgba(0, 0, 0, 0.15); }

:-moz-placeholder {
  font-family: inherit;
  line-height: initial;
  color: rgba(0, 0, 0, 0.15); }

header, .order-title {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.wrapper,
.row {
  *zoom: 1; }
  .wrapper:before,
  .row:before, .wrapper:after,
  .row:after {
    content: " ";
    display: table; }
  .wrapper:after,
  .row:after {
    clear: both; }

html, body, h1,
h2,
h3, ul,
ol,
li {
  padding: 0; }

html, body, h1,
h2,
h3, ul,
ol,
li {
  margin: 0; }

header.products .wrap ul li .cart-items, header.products .wrap ul li .cart-items.visible, header.products .wrap ul li .user-items, header.products .wrap ul li .user-items.visible {
  -webkit-transition: all 0.25s linear 0s;
  -moz-transition: all 0.25s linear 0s;
  -o-transition: all 0.25s linear 0s;
  transition: all 0.25s linear 0s; }

.display-none {
  display: none; }
.display-block {
  display: block; }
.display-inline {
  display: inline; }
.display-inline-block {
  display: inline-block; }
.display-table-cell {
  display: table-cell; }

.float-left {
  float: left !important; }
.float-right {
  float: right !important; }
.float-none {
  float: none !important; }

.text-left {
  text-align: left; }
.text-right {
  text-align: right !important; }
.text-center {
  text-align: center; }

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  outline: none; }

*:focus {
  outline: 0; }

html {
  line-height: 1;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent; }

html, body {
  max-width: 100%; }

ul,
ol,
li {
  display: block;
  list-style: none; }

table {
  background-color: transparent;
  border-spacing: 0;
  border-collapse: collapse; }

p {
  margin: 0 0 15px; }

img {
  width: auto;
  max-width: 100%;
  height: auto !important; }

.relative {
  position: relative; }

[class*='col-'] {
  float: left;
  padding: 0;
  min-height: 1px; }

@media only screen and (min-width: 769px) {
  .col-1 {
    width: 8.33333%; }

  .col-2 {
    width: 16.66667%; }

  .col-3 {
    width: 25%; }

  .col-4 {
    width: 33.33333%; }

  .col-5 {
    width: 41.66667%; }

  .col-6 {
    width: 50%; }

  .col-7 {
    width: 58.33333%; }

  .col-8 {
    width: 66.66667%; }

  .col-9 {
    width: 75%; }

  .col-10 {
    width: 83.33333%; }

  .col-11 {
    width: 91.66667%; }

  .col-12 {
    width: 100%; } }
@media (max-width: 768px) {
  .col-1 {
    width: 100%;
    display: block; }

  .col-2 {
    width: 100%;
    display: block; }

  .col-3 {
    width: 100%;
    display: block; }

  .col-4 {
    width: 100%;
    display: block; }

  .col-5 {
    width: 100%;
    display: block; }

  .col-6 {
    width: 100%;
    display: block; }

  .col-7 {
    width: 100%;
    display: block; }

  .col-8 {
    width: 100%;
    display: block; }

  .col-9 {
    width: 100%;
    display: block; }

  .col-10 {
    width: 100%;
    display: block; }

  .col-11 {
    width: 100%;
    display: block; }

  .col-12 {
    width: 100%;
    display: block; } }
.padding-default {
  padding: 30px; }
  .padding-default-top {
    padding-top: 30px; }
  .padding-default-bottom {
    padding-bottom: 30px; }
  .padding-default-left {
    padding-left: 30px; }
  .padding-default-right {
    padding-right: 30px; }

.padding-small {
  padding: 16px; }
  .padding-small-top {
    padding-top: 16px; }
  .padding-small-bottom {
    padding-bottom: 16px; }
  .padding-small-left {
    padding-left: 16px; }
  .padding-small-right {
    padding-right: 16px; }

.padding-supersmall {
  padding: 8px; }
  .padding-supersmall-top {
    padding-top: 8px; }
  .padding-supersmall-bottom {
    padding-bottom: 8px; }
  .padding-supersmall-left {
    padding-left: 8px; }
  .padding-supersmall-right {
    padding-right: 8px; }

.margin-default {
  margin: 30px; }
  .margin-default-top {
    margin-top: 30px; }
  .margin-default-bottom {
    margin-bottom: 30px; }
  .margin-default-left {
    margin-left: 30px; }
  .margin-default-right {
    margin-right: 30px; }

.margin-small {
  margin: 16px; }
  .margin-small-top {
    margin-top: 16px; }
  .margin-small-bottom {
    margin-bottom: 16px; }
  .margin-small-left {
    margin-left: 16px; }
  .margin-small-right {
    margin-right: 16px; }

.border-default {
  border: 1px solid rgba(0, 0, 0, 0.4);
  padding: 16px;
  border-top: none;
  border-right: none; }
  .border-default:before {
    content: " ";
    position: absolute;
    width: 110%;
    height: 1px;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.4); }
  .border-default:after {
    content: " ";
    position: absolute;
    width: 1px;
    height: 80%;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4); }
  .border-default-top {
    border-top: 1px solid #edebe9; }
  .border-default-bottom {
    border-bottom: 1px solid #edebe9; }
  .border-default-left {
    border-left: 1px solid #edebe9; }
  .border-default-right {
    border-right: 1px solid #edebe9; }

.wrap {
  max-width: 1070px;
  margin: 0px auto; }

.unfocus {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 98; }

.border-dashed {
  border: 2px dotted rgba(0, 0, 0, 0.2); }

body {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.75);
  background: #fff;
  font-size: 10px;
  -webkit-font-smoothing: antialiased; }

body, html {
  height: 100%; }

a {
  text-decoration: none;
  color: #35210a; }
  a:hover {
    color: #f1be69; }

header {
  position: fixed;
  top: 10px;
  width: 100%;
  z-index: 90; }
  header .logomobile,
  header .hidemobile {
    display: none !important; }
  header.products {
    top: 0;
    background: url(../img/bg-pattern.png) #35210a; }
    header.products:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      border: 3px solid rgba(0, 0, 0, 0.4); }
    header.products .wrap .logo img {
      max-width: 80px; }
    header.products .wrap ul li {
      position: relative; }
      header.products .wrap ul li .info-added {
        position: absolute;
        top: 100%;
        left: 0;
        background: #fff;
        height: auto;
        line-height: 1em; }
      header.products .wrap ul li a {
        display: inline-block;
        cursor: pointer; }
        header.products .wrap ul li a.bt-cart-info {
          background: #35210a; }
        header.products .wrap ul li a.userinfo {
          background: rgba(0, 0, 0, 0.25); }
        header.products .wrap ul li a.login {
          border: 1px solid rgba(255, 255, 255, 0.75); }
        header.products .wrap ul li a.voltar {
          -moz-opacity: 0.9;
          opacity: 0.9;
          font-size: 0.825rem; }
      header.products .wrap ul li .cart-items {
        position: absolute;
        top: 110%;
        left: 0;
        width: 100%;
        background: #fff;
        border: 2px solid #35210a;
        font-family: "Patua One";
        text-align: left;
        padding: 15px;
        font-size: 0.9375rem;
        line-height: 1;
        visibility: hidden;
        z-index: 9999;
        -moz-opacity: 0;
        opacity: 0; }
        header.products .wrap ul li .cart-items.visible {
          top: 100%;
          visibility: visible;
          -moz-opacity: 1;
          opacity: 1; }
        header.products .wrap ul li .cart-items li {
          display: block;
          position: relative;
          margin-bottom: 12px;
          overflow: hidden;
          white-space: nowrap; }
          header.products .wrap ul li .cart-items li:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            -webkit-box-shadow: inset -40px 0px 30px -15px #fff;
            -moz-box-shadow: inset -40px 0px 30px -15px #fff;
            box-shadow: inset -40px 0px 30px -15px #fff; }
          header.products .wrap ul li .cart-items li b {
            right: 0;
            top: 17px;
            position: absolute;
            font-weight: normal;
            color: #999;
            z-index: 999; }
            header.products .wrap ul li .cart-items li b .bt-product-remove,
            header.products .wrap ul li .cart-items li b .bt-product-add {
              cursor: pointer;
              width: 15px;
              line-height: 14px;
              height: 15px;
              font-size: 10px;
              text-align: center;
              position: relative;
              margin: 0 2px;
              display: inline-block; }
            header.products .wrap ul li .cart-items li b .bt-product-remove {
              color: #dc746c;
              border: 1px solid #dc746c; }
            header.products .wrap ul li .cart-items li b .bt-product-add {
              color: #319610;
              border: 1px solid #319610; }
          header.products .wrap ul li .cart-items li strong {
            font-weight: normal;
            display: block;
            padding-right: 25px; }
        header.products .wrap ul li .cart-items span {
          color: #f1be69;
          display: block;
          margin-top: 3px; }
        header.products .wrap ul li .cart-items .subtotal {
          margin-top: 10px;
          padding: 6px 10px;
          border: 1px dotted #35210a; }
          header.products .wrap ul li .cart-items .subtotal span {
            color: #35210a; }
        header.products .wrap ul li .cart-items .button, header.products .wrap ul li .cart-items .button-small {
          margin-top: 20px;
          padding: 14px 16px;
          display: block;
          text-align: center;
          font-size: 0.9375rem; }
      header.products .wrap ul li .user-items {
        position: absolute;
        top: 110%;
        left: 0;
        width: 100%;
        background: #fff;
        border: 2px solid #35210a;
        text-align: left;
        padding: 10px 10px;
        font-size: 0.9375rem;
        line-height: 1;
        visibility: hidden;
        -moz-opacity: 0;
        opacity: 0; }
        header.products .wrap ul li .user-items.visible {
          top: 100%;
          visibility: visible;
          -moz-opacity: 1;
          opacity: 1; }
        header.products .wrap ul li .user-items li {
          display: block;
          position: relative;
          margin: 12px 0; }
          header.products .wrap ul li .user-items li a {
            padding: 3px 0 !important;
            color: #35210a !important;
            text-shadow: none !important;
            vertical-align: middle !important;
            font-size: 0.9em !important; }
            header.products .wrap ul li .user-items li a i {
              display: inline-block;
              margin-right: 3px; }
  header .wrap {
    height: 75px;
    padding: 0 16px; }
    header .wrap > * {
      line-height: 75px;
      display: inline-block;
      vertical-align: top; }
    header .wrap .logo {
      padding: 0 16px; }
      header .wrap .logo img {
        max-width: 120px;
        display: inline-block;
        vertical-align: middle; }
    header .wrap ul li {
      display: inline-block; }
      header .wrap ul li a:not(.button):not(.button-small):not(.logo) {
        font-size: 1.4em;
        -webkit-font-smoothing: antialiased;
        font-family: "Rye";
        color: #fff;
        text-transform: uppercase;
        padding: 15px 1px;
        margin: 0 1px;
        position: relative;
        z-index: 1;
        display: block;
        line-height: 1em;
        text-shadow: 1px 1px 0 #111;
        border: 1px solid rgba(255, 255, 255, 0); }
        header .wrap ul li a:not(.button):not(.button-small):not(.logo):after, header .wrap ul li a:not(.button):not(.button-small):not(.logo):before {
          display: inline-block;
          margin: 0 3px;
          font-size: 0.7em;
          vertical-align: bottom;
          content: "★";
          visibility: hidden;
          -moz-opacity: 0;
          opacity: 0; }
        header .wrap ul li a:not(.button):not(.button-small):not(.logo).active {
          border-color: rgba(255, 255, 255, 0.95); }
          header .wrap ul li a:not(.button):not(.button-small):not(.logo).active:after, header .wrap ul li a:not(.button):not(.button-small):not(.logo).active:before {
            visibility: visible;
            -moz-opacity: 1;
            opacity: 1; }
        header .wrap ul li a:not(.button):not(.button-small):not(.logo):not(.nohover):hover {
          border-color: rgba(255, 255, 255, 0.95);
          -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
          -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
          -webkit-animation-name: tada;
          animation-name: tada; }
          header .wrap ul li a:not(.button):not(.button-small):not(.logo):not(.nohover):hover:after, header .wrap ul li a:not(.button):not(.button-small):not(.logo):not(.nohover):hover:before {
            visibility: visible;
            -moz-opacity: 1;
            opacity: 1;
            -webkit-transition: all 0.2s linear 0s;
            -moz-transition: all 0.2s linear 0s;
            -o-transition: all 0.2s linear 0s;
            transition: all 0.2s linear 0s; }

label {
  display: block;
  text-align: left;
  text-transform: uppercase;
  font-family: "Rye";
  font-size: 0.8125rem;
  margin-bottom: 5px;
  margin-left: 5px; }

.validator_error {
  position: absolute;
  top: 100%;
  right: 10px;
  color: #fff;
  font-weight: bold;
  background: #dc5a5a;
  font-size: 13px;
  padding: 8px 10px;
  max-width: 90%;
  z-index: 80;
  -webkit-border-radius: 3px 0 3px 3px;
  -moz-border-radius: 3px 0 3px 3px;
  border-radius: 3px 0 3px 3px; }
  .validator_error:before {
    position: absolute;
    top: -8px;
    right: 0;
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 8px solid #dc5a5a; }

.input {
  position: relative; }
  .input i {
    font-size: 1rem;
    width: 50px;
    color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    margin-top: -0.5em;
    left: 0; }
    .input i + input {
      padding-left: 50px; }

input,
textarea {
  background: rgba(245, 224, 189, 0.3);
  border: 2px solid transparent;
  font-family: "Patua One";
  padding: 14px 16px;
  color: #35210a;
  width: 100%;
  font-size: 1.1rem;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }
  input:focus,
  textarea:focus {
    background: #fff;
    border-color: #35210a; }

textarea {
  resize: none;
  height: 140px; }

select {
  background: rgba(245, 224, 189, 0.3);
  border: 2px solid transparent;
  font-family: "Patua One";
  padding: 14px 16px;
  color: #35210a;
  width: 100%;
  height: 52px;
  font-size: 1.1rem; }

.shipping-data {
  position: relative; }
  .shipping-data ul {
    position: relative;
    z-index: 10; }
    .shipping-data ul li {
      padding: 4px; }
      .shipping-data ul li input:not(:focus),
      .shipping-data ul li select {
        background: #f5e0bd; }
      .shipping-data ul li input {
        padding: 8px 14px;
        font-size: 0.9rem; }
      .shipping-data ul li select {
        height: 42px;
        padding: 8px 14px;
        font-size: 0.9rem; }
  .shipping-data input[type=radio] {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: none;
    width: 40px;
    height: 40px;
    position: absolute;
    top: -9px;
    right: -9px;
    content: "";
    cursor: pointer;
    z-index: 50;
    border: 2px solid transparent;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0; }
    .shipping-data input[type=radio]:checked + .end {
      background: url(../img/bg-pattern.png) #35210a;
      color: #fff; }
      .shipping-data input[type=radio]:checked + .end:after {
        display: block;
        content: "\e64c";
        background: #8bc34a; }
      .shipping-data input[type=radio]:checked + .end:before {
        content: "";
        position: absolute;
        top: 3px;
        left: 3px;
        right: 3px;
        bottom: 3px;
        border: 2px solid rgba(255, 255, 255, 0.15);
        z-index: 1; }
  .shipping-data .end {
    border: 1px solid #35210a;
    color: #35210a;
    padding: 15px 20px;
    font-size: 1rem;
    line-height: 1.3em;
    font-family: "Patua One";
    text-align: left;
    position: relative;
    margin: 0;
    cursor: pointer;
    text-transform: none; }
    .shipping-data .end:after {
      content: "";
      right: -9px;
      top: -9px;
      font-size: 22px;
      width: 40px;
      height: 40px;
      background: #fff;
      border: 2px solid #8bc34a;
      font-family: 'themify';
      position: absolute;
      color: #fff;
      display: none;
      z-index: 20;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      text-align: center;
      line-height: 38px; }

.order-title {
  max-width: 900px;
  margin: 7px auto 0 auto;
  font-family: "Rye";
  text-transform: uppercase;
  font-size: 1rem;
  color: #444;
  padding: 22px 25px;
  background: #ddd url(../img/bg-pattern.png) top center repeat;
  position: relative;
  border: 2px solid rgba(0, 0, 0, 0.1);
  cursor: pointer; }
  .order-title.active {
    background-color: #f1be69;
    color: #35210a; }
    .order-title.active i:before {
      content: "\e627"; }
  .order-title small {
    background: rgba(255, 255, 255, 0.85);
    display: inline-block;
    padding: 6px 10px;
    border: 1px solid #999;
    margin-left: 8px;
    -webkit-box-shadow: -2px 2px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: -2px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: -2px 2px 0px rgba(0, 0, 0, 0.2); }
    .order-title small.aguardando {
      color: #ef7200;
      border-color: #ef7200; }
    .order-title small.cancelado {
      color: #bf1818;
      border-color: #bf1818; }
    .order-title small.entregue {
      color: #167b16;
      border-color: #167b16; }

.order-item {
  display: none; }

.checkout-icon {
  width: 70px;
  height: 70px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #e9ffd0;
  color: #4caf50;
  display: inline-block;
  margin: 10px auto 0 auto;
  line-height: 70px;
  font-size: 36px; }

.checkout-box {
  background: #e9ffd0;
  padding: 20px 40px;
  line-height: 1.5em;
  display: inline-block;
  border: 1px solid #4caf50;
  color: #111; }

.button, .button-small {
  letter-spacing: 0px;
  color: #35210a;
  font-size: 1.1rem;
  padding: 22px 30px;
  text-transform: uppercase;
  font-family: "Rye";
  background: #f1be69 url(../img/bg-pattern.png) top center repeat;
  position: relative; }
  .button.add-cart, .add-cart.button-small {
    padding: 12px 15px;
    font-size: 0.875rem;
    text-align: center; }
  .button:hover, .button-small:hover {
    color: #111;
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: tada;
    animation-name: tada; }
  .button:before, .button-small:before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    bottom: -2px;
    right: -2px;
    border: 2px solid #35210a;
    -moz-opacity: 0.7;
    opacity: 0.7; }
  .button:after, .button-small:after {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    bottom: 3px;
    right: 3px;
    border: 1px solid #35210a;
    -moz-opacity: 0.3;
    opacity: 0.3; }
  .button span, .button-small span {
    display: block;
    margin: 3px 0;
    margin-top: -2px; }
  .button small, .button-small small {
    margin-top: 4px;
    color: #111; }
  .button i, .button-small i {
    font-size: 0.6em;
    margin: 0 2px;
    font-style: normal; }
  .button b, .button-small b {
    font-size: 0.7em;
    vertical-align: initial;
    display: inline-block; }
  .button strong, .button-small strong {
    font-size: 0.7em;
    vertical-align: bottom;
    display: inline-block; }
  .button-small {
    font-size: 1rem;
    padding: 15px 22px; }
  .button.bt-submit, .bt-submit.button-small {
    padding-right: 60px;
    padding-left: 60px; }

.subheader {
  display: block !important;
  z-index: 10;
  color: rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 10px;
  text-align: left;
  font-size: 1.1em;
  line-height: 1em;
  padding: 15px 15px 0 15px; }
  .subheader span {
    margin-right: 15px; }
  .subheader a {
    margin: 0 4px;
    vertical-align: top;
    display: inline-block;
    color: rgba(255, 255, 255, 0.7); }
    .subheader a:hover {
      color: #fff; }

.headerfix {
  padding-top: 75px;
  margin-bottom: -75px;
  display: block;
  height: auto;
  width: 100%;
  position: relative; }

section {
  padding: 30px 0; }
  section .section-title {
    font-family: "Rye";
    text-transform: uppercase;
    font-size: 2.6em;
    font-weight: 300;
    color: #35210a;
    -webkit-font-smoothing: antialiased;
    position: relative; }
    section .section-title:before {
      content: "";
      position: absolute;
      top: 10px;
      left: 50%;
      margin-left: -115px;
      height: 1px;
      width: 80px;
      background: #35210a; }
    section .section-title:after {
      content: "";
      position: absolute;
      top: 10px;
      right: 50%;
      margin-right: -115px;
      height: 1px;
      width: 80px;
      background: #35210a; }
    section .section-title span {
      display: block;
      font-size: 1rem;
      margin-bottom: 10px; }
      section .section-title span b {
        font-size: 1.2em; }
  section .section-subtitle {
    font-family: "Patua One";
    font-size: 1.8em;
    margin-top: 16px; }
    section .section-subtitle a {
      display: block; }
  section .section-content {
    font-family: "Patua One";
    font-size: 1.6em;
    line-height: 1.6em;
    letter-spacing: -0.25px;
    margin: 16px auto 0 auto;
    max-width: 600px;
    position: relative;
    -webkit-font-smoothing: antialiased; }
  section .gallery {
    font-size: 0; }
    section .gallery li {
      display: inline-block;
      width: 33.333%;
      padding: 4px; }
      section .gallery li.large {
        width: 100%; }
      section .gallery li img {
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px; }

#inicio {
  background: #111;
  position: relative;
  overflow: hidden;
  z-index: 30; }
  #inicio section {
    padding: 0;
    height: 700px;
    position: relative; }
  #inicio.headerfix {
    padding-top: 0; }
  #inicio .banner {
    position: absolute;
    top: 50%;
    text-align: center;
    left: 0;
    width: 100%;
    z-index: 10;
    -webkit-font-smoothing: antialiased; }
    #inicio .banner .banner-content {
      display: inline-block;
      text-transform: uppercase;
      vertical-align: middle;
      color: white;
      letter-spacing: 3px;
      z-index: 1;
      position: relative;
      margin-top: -40px;
      -moz-opacity: 0.85;
      opacity: 0.85; }
    #inicio .banner img {
      vertical-align: middle;
      width: 40%;
      max-width: 500px;
      margin-right: -50px;
      margin-left: -30px;
      display: inline-block;
      z-index: 10;
      position: relative; }
    #inicio .banner h1 {
      font-family: "Bangers";
      font-size: 2rem;
      margin-bottom: -16px; }
    #inicio .banner h2 {
      font-family: "Patua One";
      font-size: 4.5rem;
      padding: 30px 30px 30px 0;
      position: relative;
      margin-bottom: 20px;
      border-bottom: 1px solid #fff; }
      #inicio .banner h2:before {
        content: "";
        position: absolute;
        bottom: -1px;
        left: -20%;
        height: 100%;
        width: 35%;
        border-top: 1px solid #fff; }
      #inicio .banner h2:after {
        content: "";
        position: absolute;
        bottom: -1px;
        right: 0;
        height: 100%;
        width: 15%;
        border: 1px solid #fff;
        border-left: none;
        border-bottom: none; }
      #inicio .banner h2 span {
        font-size: 1.1em; }
      #inicio .banner h2 i {
        margin-bottom: -50px;
        display: block; }
    #inicio .banner .button, #inicio .banner .button-small {
      padding: 10px 20px;
      z-index: 50;
      -webkit-box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);
      box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5); }
  #inicio .bg-home {
    -moz-opacity: 0;
    opacity: 0;
    width: 130%;
    max-width: 130%;
    margin-left: -15%;
    position: absolute;
    bottom: 0;
    display: block; }

#destaques {
  background: #fff;
  z-index: 20; }
  #destaques ul {
    display: table;
    width: 100%;
    position: relative;
    border-collapse: separate;
    border-spacing: 5px;
    margin-top: -30px; }
    #destaques ul li {
      background: #f5e0bd url(../img/bg-pattern2.png) bottom center repeat-x;
      display: table-cell;
      width: 33.333%;
      text-align: center;
      position: relative;
      padding: 30px;
      overflow: hidden; }
      #destaques ul li:last-child {
        border: none; }
      #destaques ul li i {
        margin-bottom: 10px;
        font-size: 50px;
        display: block;
        color: #35210a; }
      #destaques ul li h3 {
        color: #35210a;
        font-family: "Patua One";
        letter-spacing: -0.5px;
        text-transform: uppercase;
        font-size: 2.5em;
        margin-bottom: 16px; }
        #destaques ul li h3 strong {
          display: block;
          color: #111; }
      #destaques ul li p {
        font-size: 1.4em;
        line-height: 1.5em;
        margin: 0; }
  #destaques img {
    margin-top: 30px; }

#sobre section {
  background: url(../img/bg-pattern2.png) bottom center repeat-x, url(../img/bg-sobre.jpg) top center no-repeat;
  background-size: auto, 100%;
  color: rgba(255, 255, 255, 0.85);
  z-index: 10; }
#sobre .section-title:before, #sobre .section-title:after {
  background: rgba(255, 255, 255, 0.7); }
#sobre h3 {
  color: #fff; }

#delivery {
  z-index: 20; }
  #delivery .products {
    font-size: 0; }
    #delivery .products li {
      font-size: 10px; }
      #delivery .products li .img {
        background: #fff;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px; }
        #delivery .products li .img img {
          display: block; }
      #delivery .products li .product-title {
        padding: 30px;
        font-size: 1.2em;
        margin-top: -30px;
        background: #f5e0bd url(../img/bg-pattern2.png) bottom center repeat-x;
        font-size: 1.4em;
        line-height: 1.3em;
        font-family: "Patua One";
        color: rgba(0, 0, 0, 0.6); }
        #delivery .products li .product-title strong {
          font-size: 1.6rem;
          margin-bottom: 10px;
          display: block;
          text-transform: uppercase;
          color: #35210a; }
        #delivery .products li .product-title .price {
          display: block;
          margin-top: 10px;
          font-size: 1.2rem;
          font-family: "Rye";
          color: #111; }

#contato section {
  position: relative;
  background: #35210a url(../img/bg-pattern.png) top center repeat;
  overflow: hidden; }
  #contato section .section-title:before, #contato section .section-title:after {
    background: rgba(255, 255, 255, 0.7); }
  #contato section .infos {
    padding: 16px 0;
    background: #fff; }
  #contato section .location {
    font-family: "Patua One";
    color: #222;
    font-size: 1.4em;
    display: block;
    padding: 16px 30px; }
    #contato section .location li {
      margin-bottom: 12px;
      position: relative;
      padding-left: 35px;
      line-height: 1.5em; }
      #contato section .location li:last-child {
        margin: 0; }
    #contato section .location i {
      position: absolute;
      top: 50%;
      margin-top: -0.5em;
      left: 0;
      font-size: 14px;
      -moz-opacity: 0.5;
      opacity: 0.5; }
  #contato section .map {
    background: #fff; }
    #contato section .map iframe {
      display: block;
      width: 100%;
      -moz-opacity: 0.85;
      opacity: 0.85; }

#insta {
  z-index: 40; }
  #insta .section-subtitle {
    background: #f5e0bd;
    display: inline-block;
    padding: 16px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    transform: rotate(-10deg); }
  #insta .button, #insta .button-small {
    margin-top: 16px;
    margin-bottom: -16px;
    z-index: 10;
    -webkit-transform: rotate(-4deg);
    -moz-transform: rotate(-4deg);
    -ms-transform: rotate(-4deg);
    -o-transform: rotate(-4deg);
    transform: rotate(-4deg); }
  #insta .instaphotos {
    font-size: 0;
    background: #666;
    padding: 1px; }
    #insta .instaphotos li {
      display: inline-block;
      width: calc(20% - 2px);
      border: 2px solid #fff;
      overflow: hidden;
      margin: 1px; }
      #insta .instaphotos li:hover img {
        cursor: pointer;
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
        -moz-opacity: 1;
        opacity: 1;
        -webkit-transition: all 1s ease 0.2s;
        -moz-transition: all 1s ease 0.2s;
        -o-transition: all 1s ease 0.2s;
        transition: all 1s ease 0.2s; }
      #insta .instaphotos li img {
        width: 100%;
        -webkit-filter: grayscale(50%);
        -moz-filter: grayscale(50%);
        filter: grayscale(50%);
        -moz-opacity: 0.75;
        opacity: 0.75;
        -webkit-transition: all 0.6s ease 0s;
        -moz-transition: all 0.6s ease 0s;
        -o-transition: all 0.6s ease 0s;
        transition: all 0.6s ease 0s; }

#shopping section {
  padding-top: 80px; }
  #shopping section .section-title {
    font-size: 2.2em; }
#shopping .products {
  font-size: 0;
  text-align: left; }
#shopping .product {
  font-size: 10px;
  background: #fff;
  border: 2px solid #f4f4f4;
  text-align: left;
  padding: 7px 0;
  margin-bottom: 10px;
  margin-right: 10px;
  width: calc(50% - 10px);
  position: relative;
  z-index: 1;
  display: inline-block;
  vertical-align: top; }
  #shopping .product:hover {
    border-color: #f5e0bd;
    cursor: pointer; }
    #shopping .product:hover .info-addcart {
      -webkit-animation-duration: 0.25s;
      animation-duration: 0.25s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      -webkit-animation-name: tada;
      animation-name: tada;
      visibility: visible;
      -moz-opacity: 1;
      opacity: 1;
      -webkit-transition: all 0.25s ease 0s;
      -moz-transition: all 0.25s ease 0s;
      -o-transition: all 0.25s ease 0s;
      transition: all 0.25s ease 0s; }
  #shopping .product:after {
    content: "";
    position: absolute;
    top: 30px;
    left: 130px;
    right: 0;
    height: 1px;
    border-bottom: 1px dashed #999;
    z-index: -1; }
  #shopping .product > * {
    display: table-cell;
    vertical-align: middle; }
  #shopping .product .product-thumb {
    background: #fff;
    width: 95px;
    padding-left: 10px;
    margin-right: 5px;
    margin-left: 15px;
    background: #fff; }
  #shopping .product .product-info {
    width: calc(100% - 110px);
    vertical-align: top; }
  #shopping .product .product-name {
    font-size: 1.1rem;
    letter-spacing: 0.5px;
    font-family: "Patua One";
    margin-bottom: 5px;
    margin-top: 15px;
    padding: 0 10px;
    display: inline-block;
    text-transform: uppercase;
    background: #fff;
    color: #35210a; }
  #shopping .product .product-description {
    font-size: 1.3em;
    line-height: 1.2em;
    color: #ccc;
    margin-bottom: 15px;
    margin-left: 10px;
    min-height: 15px;
    max-width: 95%;
    font-family: "Patua One"; }
  #shopping .product .product-price {
    display: inline-block;
    margin-bottom: 10px;
    padding: 20px 20px 0 5px;
    background: #fff;
    font-size: 11px;
    font-family: "Rye";
    font-style: normal;
    text-align: right;
    position: absolute;
    right: 0;
    top: 0;
    color: #9E3636; }
    #shopping .product .product-price strong {
      font-weight: normal;
      font-size: 1.55em; }
  #shopping .product .info-addcart {
    position: absolute;
    bottom: 2px;
    right: -5px;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 0.6875rem;
    text-transform: uppercase;
    font-weight: 500;
    background: #f1be69;
    color: #fff;
    padding: 10px 8px;
    z-index: 500;
    visibility: hidden;
    -moz-opacity: 0;
    opacity: 0; }

#internal {
  padding-top: 80px; }
  #internal form li {
    position: relative; }

.form-login {
  max-width: 700px;
  margin: 0px auto;
  border: 2px solid #35210a;
  padding: 20px; }

.form-register {
  max-width: 900px;
  margin: 0px auto; }

.cart-list .cart-item {
  display: table;
  border: 2px dotted #ddd;
  width: 100%;
  text-align: left;
  padding: 12px 20px;
  margin-top: -2px; }
  .cart-list .cart-item.total {
    padding: 20px;
    background: url(../img/bg-pattern.png) #f1f1f1;
    font-size: 13px; }
    .cart-list .cart-item.total > * {
      color: #35210a; }
  .cart-list .cart-item > * {
    display: table-cell;
    vertical-align: middle; }
  .cart-list .cart-item .product-thumb {
    width: 40px;
    padding-right: 5px; }
    .cart-list .cart-item .product-thumb img {
      max-width: 100%; }
  .cart-list .cart-item strong {
    font-size: 1.6em;
    font-weight: normal;
    letter-spacing: 0.5px;
    font-family: "Patua One";
    padding: 0 10px;
    text-transform: uppercase;
    color: #35210a; }
    .cart-list .cart-item strong small {
      display: block;
      font-size: 0.7em;
      margin-top: 4px;
      color: #999; }
  .cart-list .cart-item .qtd {
    text-align: right; }
    .cart-list .cart-item .qtd span {
      font-family: "Patua One";
      width: 20px;
      text-align: center;
      font-size: 1.4em;
      display: inline-block; }
    .cart-list .cart-item .qtd .bt-product-add,
    .cart-list .cart-item .qtd .bt-product-remove {
      cursor: pointer;
      width: 23px;
      line-height: 22px;
      height: 23px;
      font-size: 14px;
      text-align: center;
      position: relative;
      margin: 0 2px;
      display: inline-block; }
    .cart-list .cart-item .qtd .bt-product-remove {
      color: #dc746c;
      border: 1px solid #dc746c; }
    .cart-list .cart-item .qtd .bt-product-add {
      color: #319610;
      border: 1px solid #319610; }
  .cart-list .cart-item b {
    width: 20%;
    margin-bottom: 10px;
    font-size: 1.6em;
    font-family: "Rye";
    font-weight: normal;
    text-align: right;
    color: #9E3636; }

footer {
  background: #35210a;
  color: rgba(255, 255, 255, 0.5);
  padding: 60px 0 55px 0; }
  footer ul {
    vertical-align: top;
    display: inline-block; }
    footer ul li {
      display: block;
      font-family: "Patua One";
      font-weight: 300;
      font-size: 1.3em;
      line-height: 1.4em;
      margin: 5px 0; }
      footer ul li i {
        display: inline-block;
        margin-right: 10px;
        vertical-align: middle; }
      footer ul li a {
        color: #fff; }
      footer ul li img {
        max-width: 150px;
        -moz-opacity: 0.75;
        opacity: 0.75; }

@media (min-width: 769px) {
  header.small {
    top: 0;
    background: url(../img/bg-pattern.png) #35210a;
    -webkit-transition: all 0.25s linear 0s;
    -moz-transition: all 0.25s linear 0s;
    -o-transition: all 0.25s linear 0s;
    transition: all 0.25s linear 0s; }
    header.small:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      border: 3px solid rgba(0, 0, 0, 0.4); }
    header.small .wrap {
      -webkit-transform: scale(0.95);
      -moz-transform: scale(0.95);
      -ms-transform: scale(0.95);
      -o-transform: scale(0.95);
      transform: scale(0.95);
      -webkit-transition: all 0.25s linear 0s;
      -moz-transition: all 0.25s linear 0s;
      -o-transition: all 0.25s linear 0s;
      transition: all 0.25s linear 0s; }
      header.small .wrap .logo img {
        max-width: 80px;
        -webkit-transition: all 0.25s linear 0s;
        -moz-transition: all 0.25s linear 0s;
        -o-transition: all 0.25s linear 0s;
        transition: all 0.25s linear 0s; }
    header.small .subheader {
      display: none !important; } }
@media (max-width: 1024px) {
  .subheader {
    margin-bottom: 6px;
    padding: 10px 15px 0 15px; }

  header .wrap .logo {
    padding: 0 6px; }
    header .wrap .logo img {
      max-width: 100px; }

  header .wrap ul li a:not(.button):not(.button-small):not(.button-small):not(.logo) {
    padding: 15px 5px;
    font-size: 1.3em;
    margin: 0 6px; }

  header .wrap ul li a:not(.button):not(.button-small):not(.button-small):not(.logo):after, header .wrap ul li a:not(.button):not(.button-small):not(.button-small):not(.logo):before {
    display: none; }

  section .section-title {
    font-size: 2.2em; }
  section .section-subtitle {
    margin-top: 6px; }
  section .section-content {
    font-size: 1.5em;
    line-height: 1.4em;
    margin: 12px auto 0 auto; }

  #inicio section {
    min-height: 500px; }
  #inicio .banner {
    top: 55%;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8); }
  #inicio .bg-home {
    width: 140%;
    max-width: 140%; }

  #destaques ul li {
    padding: 15px 20px 25px 20px; }
    #destaques ul li i {
      font-size: 40px;
      margin-bottom: 4px; }
    #destaques ul li h3 {
      letter-spacing: 0;
      font-size: 2em;
      margin-bottom: 10px; }
    #destaques ul li p {
      font-size: 1.3em;
      line-height: 1.4em; }
  #destaques img {
    margin-top: 80px; }

  #sobre section {
    background-size: auto, 130%; }

  #delivery {
    padding-right: 10px;
    padding-left: 10px; }
    #delivery .products li {
      padding: 5px; }
      #delivery .products li .product-title {
        padding: 30px 20px; }
        #delivery .products li .product-title strong {
          font-size: 1.4rem; }

  #insta .instaphotos {
    margin: 0 20px; }

  footer {
    padding-right: 20px;
    padding-left: 20px; } }
@media (max-width: 768px) {
  .margin-smartphone-zero {
    margin: 0; }
    .margin-smartphone-zero-top {
      margin-top: 0; }
    .margin-smartphone-zero-bottom {
      margin-bottom: 0; }
    .margin-smartphone-zero-left {
      margin-left: 0; }
    .margin-smartphone-zero-right {
      margin-right: 0; }

  .padding-smartphone-zero {
    padding: 0; }
    .padding-smartphone-zero-top {
      padding-top: 0; }
    .padding-smartphone-zero-bottom {
      padding-bottom: 0; }
    .padding-smartphone-zero-left {
      padding-left: 0; }
    .padding-smartphone-zero-right {
      padding-right: 0; }

  .padding-smartphone-small {
    padding: 16px; }
    .padding-smartphone-small-top {
      padding-top: 16px; }
    .padding-smartphone-small-bottom {
      padding-bottom: 16px; }
    .padding-smartphone-small-left {
      padding-left: 16px; }
    .padding-smartphone-small-right {
      padding-right: 16px; }

  .padding-smartphone-supersmall {
    padding: 8px; }
    .padding-smartphone-supersmall-top {
      padding-top: 8px; }
    .padding-smartphone-supersmall-bottom {
      padding-bottom: 8px; }
    .padding-smartphone-supersmall-left {
      padding-left: 8px; }
    .padding-smartphone-supersmall-right {
      padding-right: 8px; }

  .hide-smartphone {
    display: none !important; }

  .display-smartphone-block {
    width: 100% !important;
    float: none !important;
    display: block !important; }

  .text-smartphone-center {
    text-align: center !important; }
  .text-smartphone-left {
    text-align: left !important; }

  .padding-default {
    padding: 16px; }
    .padding-default-top {
      padding-top: 16px; }
    .padding-default-bottom {
      padding-bottom: 16px; }
    .padding-default-left {
      padding-left: 16px; }
    .padding-default-right {
      padding-right: 16px; }

  .margin-default {
    margin: 20px; }
    .margin-default-top {
      margin-top: 20px; }
    .margin-default-bottom {
      margin-bottom: 20px; }
    .margin-default-left {
      margin-left: 20px; }
    .margin-default-right {
      margin-right: 20px; }

  .border-default {
    border: 1px solid rgba(0, 0, 0, 0.4);
    background: #fff; }
    .border-default:after, .border-default:before {
      display: none; }

  .button, .button-small,
  .button-small {
    font-size: 1rem;
    padding: 10px 15px !important; }

  .wrap {
    padding: 0 10px; }

  header .wrap ul li a:not(.button):not(.button-small):not(.button-small):not(.button-small):not(.logo) {
    padding: 15px 30px; }

  header.products .wrap ul {
    width: auto; }
    header.products .wrap ul:last-child li a {
      padding: 15px 10px !important; }
    header.products .wrap ul li:last-child a {
      padding: 15px 10px !important; }
    header.products .wrap ul li a:not(.button):not(.button-small) {
      margin: 0 !important; }
    header.products .wrap ul li .cart-items {
      width: 200px;
      right: 0;
      left: auto; }
    header.products .wrap ul li .user-items {
      width: 200px;
      right: 0;
      left: auto;
      z-index: 999; }

  header:not(.products) {
    top: 0;
    background: url(../img/bg-pattern.png) #35210a;
    border-bottom: 3px solid rgba(0, 0, 0, 0.4); }
    header:not(.products) .subheader {
      display: none !important; }
    header:not(.products) .logomobile {
      max-width: 80px;
      margin: 12px 20px;
      display: inline-block !important; }
      header:not(.products) .logomobile img {
        display: block;
        width: 100%; }
    header:not(.products) .navmobile {
      position: fixed;
      top: 13px;
      right: 20px;
      width: 50px;
      height: 50px;
      background: rgba(0, 0, 0, 0.25); }
      header:not(.products) .navmobile:before {
        content: " ";
        position: absolute;
        top: 15px;
        left: 10px;
        width: 30px;
        height: 2px;
        background: #fff; }
      header:not(.products) .navmobile:after {
        content: " ";
        position: absolute;
        bottom: 15px;
        left: 10px;
        width: 30px;
        height: 2px;
        background: #fff; }
      header:not(.products) .navmobile span {
        position: absolute;
        width: 30px;
        height: 2px;
        background: #fff;
        top: 50%;
        left: 10px;
        margin-top: -1px; }
    header:not(.products) .wrap {
      padding: 0;
      text-align: left !important; }
      header:not(.products) .wrap ul {
        display: none;
        margin-top: 5px;
        padding: 15px;
        background: url(../img/bg-pattern.png) #35210a;
        right: 5px;
        position: fixed;
        text-align: center;
        border: 3px solid rgba(0, 0, 0, 0.4);
        -webkit-box-shadow: 0px 10px 8px -2px rgba(0, 0, 0, 0.6);
        -moz-box-shadow: 0px 10px 8px -2px rgba(0, 0, 0, 0.6);
        box-shadow: 0px 10px 8px -2px rgba(0, 0, 0, 0.6); }
        header:not(.products) .wrap ul li {
          display: block; }

  section .section-title {
    font-size: 1.8em; }
  section .section-subtitle {
    font-size: 1.5em; }
  section .gallery li {
    width: 25% !important;
    padding: 2px; }
    section .gallery li img {
      border: 1px solid #000; }

  #inicio section {
    height: 460px;
    min-height: 460px;
    max-height: 460px; }
  #inicio .bg-home {
    width: 250%;
    max-width: 500%;
    -moz-opacity: 1;
    opacity: 1; }
  #inicio .banner {
    white-space: nowrap;
    top: 50%; }
    #inicio .banner .banner-content {
      -moz-opacity: 1;
      opacity: 1;
      vertical-align: middle; }
    #inicio .banner img {
      margin-right: -40px;
      margin-left: -50px;
      width: 55%;
      vertical-align: middle; }
    #inicio .banner h1 {
      font-size: 1.2rem;
      margin-bottom: -32px; }
    #inicio .banner h2 {
      border: 1px solid #fff;
      font-size: 2.5rem;
      padding: 35px 0px 15px 0; }
      #inicio .banner h2:after, #inicio .banner h2:before {
        display: none; }

  #destaques ul li {
    background: #f5e0bd;
    display: block;
    width: 100%;
    margin-bottom: 3px;
    padding: 15px; }
    #destaques ul li i, #destaques ul li h3 {
      display: inline-block;
      vertical-align: middle;
      margin-bottom: 0;
      text-align: left;
      margin-left: 8px; }
    #destaques ul li i {
      font-size: 34px; }
    #destaques ul li h3 {
      font-size: 1.7em; }
    #destaques ul li p {
      margin-top: 6px; }
  #destaques img {
    margin-top: -50px;
    margin-bottom: -80px;
    max-width: 300px;
    display: inline-block;
    margin-right: auto;
    margin-left: auto; }

  #sobre h3 {
    margin-top: 20px; }
  #sobre section {
    background: #35210a url(../img/bg-pattern.png) top center repeat; }

  #delivery .products li {
    padding: 2px;
    position: relative; }
    #delivery .products li .img {
      top: 50%;
      margin-top: -50px;
      position: absolute;
      left: 10px;
      background: none; }
      #delivery .products li .img img {
        width: 155px;
        margin-left: -30px; }
    #delivery .products li .product-title {
      margin-top: 0;
      padding-left: 100px;
      padding-top: 20px;
      padding-bottom: 20px;
      padding-right: 10px;
      text-align: left;
      background-image: none; }
      #delivery .products li .product-title strong {
        font-size: 1.2rem; }

  #contato section .map iframe {
    height: 180px; }
  #contato section .location {
    padding: 6px 20px; }
    #contato section .location li {
      margin-bottom: 6px; }

  #insta .button, #insta .button-small {
    padding: 12px 18px; }
  #insta .instaphotos li {
    width: calc(50% - 2px); }

  #shopping .products {
    padding: 10px; }
  #shopping section .section-title {
    font-size: 1.6em;
    margin-bottom: 2px;
    margin-top: 8px; }
    #shopping section .section-title span {
      margin-bottom: 3px; }
  #shopping .product {
    width: 100%;
    margin-right: 0;
    height: 75px;
    margin-bottom: -2px;
    overflow: hidden; }
    #shopping .product:after {
      display: none; }
    #shopping .product .product-thumb {
      width: 70px; }
    #shopping .product .product-name {
      height: 15px;
      margin-top: 6px;
      font-size: 0.875rem;
      overflow: hidden;
      display: block; }
    #shopping .product .product-price {
      padding-top: 15px; }
      #shopping .product .product-price strong {
        font-size: 1.15em; }
    #shopping .product .product-description {
      height: 25px;
      font-size: 1.1em;
      overflow: hidden; }

  label {
    font-size: 0.65rem;
    margin-bottom: 3px; }

  select {
    height: 42px; }

  input, textarea {
    padding: 9px 16px;
    font-size: 1rem; }

  textarea {
    height: 100px; }

  .cart-list .cart-item {
    padding: 7px 10px; }
    .cart-list .cart-item.total {
      padding: 14px; }
    .cart-list .cart-item b {
      font-size: 1em; }
    .cart-list .cart-item .qtd {
      white-space: nowrap;
      padding-right: 10px; }
      .cart-list .cart-item .qtd span {
        width: 16px; }
      .cart-list .cart-item .qtd a {
        margin: 0 !important; }
    .cart-list .cart-item strong {
      font-size: 1.2em;
      letter-spacing: 0;
      padding: 0 6px; }

  .order-title {
    font-size: 0.875rem;
    padding: 12px 18px; }
    .order-title i {
      position: absolute;
      top: 50%;
      right: 10px;
      margin-top: -0.5em;
      font-size: 20px; }
    .order-title span {
      display: block;
      float: none !important;
      padding-top: 6px;
      font-size: 0.8em;
      color: #666; }

  footer {
    padding-bottom: 10px;
    padding-top: 50px; }
    footer ul {
      text-align: center !important; }
      footer ul.copy {
        margin-top: 20px !important; }
      footer ul li img {
        max-width: 90px; } }
@media (max-width: 360px) {
  .bt-vercardapio {
    display: none; } }

/*# sourceMappingURL=style.css.map */
